@media print {
  body * {
    visibility: hidden;
  }
  .section-to-print, .section-to-print * {
    visibility: visible;
  }
  
}



a:hover{text-decoration:underline; cursor: pointer;}

.logo-wrapper{height: 100%;}

.logo{padding:6px 10px;}

.background {background:url("../images/background_login.jpg"); background-size: 100% 100%; height:100%; width:100%; position:fixed; z-index:-100;}
.background-color-whitegray {background-color: #f7f7f7}
.red-background {background-color:#b71c1c; color:white; font-weight: bold;}

.border-grey{border:1px solid #B9B9B9;}
.border-bottom {border-bottom: 1px solid grey;}
.border-radius-5{border-radius: 15px 50px 30px;}
.border-red{border-bottom:1px solid red !important;}

.border-top{border-top: 1px solid #B9B9B9;}
.border-bottom{border-bottom: 1px solid #B9B9B9;}
.border-left{border-left: 1px solid #B9B9B9;}
.border-right{border-right: 1px solid #B9B9B9;}




.text-bold {font-weight: bold;}
.text-size-6{font-size:0.6em;}
.text-size-7{font-size:0.7em;}
.text-size-8{font-size:0.8em;}
.text-size-10{font-size:1.0em;}
.text-size-12{font-size:1.2em;}
.text-size-14{font-size:1.4em;}
.text-size-30{font-size:3.0em !important;}

.display-inline-block {display:inline-block;}


.padding-0 {padding:0px !important;}
.padding-2 {padding:2px;}
.padding-5 {padding:5px !important;}
.padding-10 {padding:10px !important;}
.padding-5-20 {padding:5px 20px !important;}
.padding-10-20 {padding:10px 20px !important;}
.padding-vw-1 {padding:1vw !important;}
.paddingH-5 {padding-top: 5px; padding-bottom: 5px;}
.paddingH-20 {padding-top: 20px; padding-bottom: 20px;}
.paddingH-40 {padding-top: 40px; padding-bottom: 40px;}
.paddingHp-10 {padding: 10% 0%;}
.paddingHp-20 {padding: 20% 0%;}
.paddingV-10 {padding-left: 5vw !important; padding-right: 5vw !important;}
.paddingVp-10 {padding-left: 10%; padding-right: 10%;}
.paddingHvw-3 {padding-top: 3vw; padding-bottom: 3vw;}
.paddingHvw-top-1 {padding-top: 1vw;}
.paddingHvw-top-2 {padding-top: 2vw;}
.paddingHvw-top-3 {padding-top: 3vw;}
.padding-bottom-10 {padding-bottom:20px;}
.padding-left-10 {padding-left:10px;}



.margin-0{margin:0px;}
.margin-5{margin:5px; }
.margin-10{margin:10px;}
.margin-top-5 {margin-top:5px;}
.margin-top-30 {margin-top:30px;}
.margin-right-5 {margin-right:5px;}
.margin-right-10 {margin-right:10px;}
.margin-right-20 {margin-right:20px;}
.margin-left-5 {margin-left:5px;}
.margin-left-10 {margin-left:10px;}
.margin-left-20 {margin-left:20px;}
.margin-bottom-0 {margin-bottom:0px;}
.margin-bottom-5 {margin-bottom:5px;}
.margin-bottom-10 {margin-bottom:10px;}
.margin-bottom-20 {margin-bottom:20px;}
.margin-top-40 {margin-top:40px;}
.margin-top-140 {margin-top:140px;}
.margin-sides-20 {margin: 0 20px;}
.margin-middle{margin:0px auto;}
.margin-left-0{margin-left:0px !important;}
.margin-left--7vw {margin-left:-7vw;}
.margin-left--10 {margin-left:-10px;}
.margin-left--30 {margin-left:-30px;}
.margin-right-0{margin-right:0px !important;}

.widthPr-100{width:100%;}
.width-auto {width:auto;}
.widthPr-80 {width:80%;}
.width-50 {width:50px;}
.width-60 {width:60px;}
.width-80 {width:80px;}
.width-90 {width:90px;}
.width-100 {width:100px;}
.width-200 {width:200px;}
.width-max-140 {max-width:140px;}
.width-400 {width:400px;}


.height-3rem {height:3rem;}
.height-auto{height:auto;}
.height-46{height:46px;}
.heightPx-5{height: 5px;}
.heightPr-60{height:60%;}
.heightPr-90{height:90%;}
.heightPr-max-90{max-height:90%;}
.heightPr-100{height:100%;}

.padding-20 {padding:20px;}
.paddingV-20 {padding:0px 20px;}
.marginH-5 {margin:5px 0px;}






.login-window {background-color:rgba(255,255,255, 0.9);}

.hideMe {display:none;}



.event_edit_images_wrapper {float:left; width:100%; }
.event_edit_images {float:left; margin: 7px; padding:0px; position:relative;}
.event_edit_images .event_edit_images_image  {height: 200px;  }
.event_edit_images .event_edit_images_image img {max-height: 100%; max-width:250px;}
.event_edit_images .event_edit_images_options{text-align:right; margin-top:-60px; float:right; width:100%; position:absolute; background: rgba(255,255,255, 0.8);}
.event_edit_images .event_edit_images_options a:first-of-type{margin-right:10px;}

.font-size-08{font-size: 0.8rem;}


#menu a {text-transform:uppercase; color:#9C9C9C;}
#menu a:hover {text-decoration: none; color:#ffffff;}
#menu li {background-color:#000000; padding:0px;}
#menu .divider{background-color: #271c1c;}

#submenu * {box-shadow: none; color:#2C2C2C; line-height: 40px;}
#submenu {margin-top:40px;}
#submenu nav {height:40px;}
#submenu a {text-transform:uppercase; color:#2C2C2C;  }
#submenu a:hover {text-decoration: none; color:#ffffff;}
#submenu li { padding:0px;}
#submenu .divider{background-color: #271c1c;}

.table-dashboard th{	padding:2px; font-size:13px; }
.table-dashboard td{	padding:2px; font-size:13px; }
.table-dashboard a{	color:#4C4C4C; }

.no-box-shaddow {box-shadow: none !important;}






/* main content */

#main_content{position:relative;float: left;width:990px;margin:5px 0px 0px 0px;padding:5px;}

#fullscreenloader{position: fixed; width: 100%; height: 100%;  text-align: center;top: 0px; left: 0px; z-index: 999; overflow: visible; background: rgba(0, 0,0, 0.6);}
#fullscreenImageloader{position: fixed; width: 100%; height: 100%;  text-align: center;top: 0px; left: 0px; z-index: 999; overflow: visible; background: rgba(0, 0,0, 0.6);}

/* imaareaselect handles resize */
.imgareaselect-handle {width:15px !important; height: 15px !important;}

/*OVERWRITE MATERIALISE*/
	.btn{background-color:#000000;}
	.btn:hover{background-color:#ffffff; color:#ff0000;}

	 /* label focus color */
	   .input-field input[type=text]:focus + label {
	     color: #000;
	}
	/* label underline focus color */
	   .input-field input[type=text]:focus {
	     border-bottom: 1px solid #000;
	     box-shadow: 0 1px 0 0 #000;
	}
	

	.input-field{
		font-size: 1rem !important;
	    margin: 0px !important;
	}

	table tr td {padding:5px ;}

	.btn:hover {color: #000000;}
	.btn {padding: 0 5px;}

	.input-field label{color: #393939;}

	[type="checkbox"]:checked + label:before{
		border-right: 2px solid #393939;
    	border-bottom: 2px solid #393939;
	}
	.dropdown-content li > span, .dropdown-content li > a  select:focus{
		color:#000;
	}

	.default-size-select input[type=text] {margin:0px !important; line-height:normal !important; height: auto !important; border-bottom:none;}
	.container .row {margin-left:0px; margin-right:0px;}

	.row .col {min-height: 20px	;}



