

<div class="container">

	
	<form class="" method="post" enctype="multipart/form-data">




	<div class="border-bottom row grey lighten-2 padding-20 data-to-collect "  >
		<div class="row">

			<div class="col s12 left text-size-14 text-bold" ><span class="red darken-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> PERSONAL DETAILS </span></div>
		</div>
	

		<div class="row">
		
			<div class="col m3 s12 right-align ">
					<div class="text-bold " style="margin-top:10px">FIRST NAME*: </div>
			</div>
			<div class="col m9 s12">
				
					<<<{promoter_first_name}>>>
				
			</div>
		</div>
		<div class="row ">
			<div class="col m3 s12 right-align ">
					<div class="text-bold" style="margin-top:10px"> LAST NAME: </div>
			</div>
			<div class="col m9 s12">	
					<<<{promoter_last_name}>>>
				
			</div>
		</div>


		<div class="row">
			<div class="col m3 s12 right-align ">
					<div class="text-bold" style="margin-top:10px"> EMAIL: </div>
			</div>
			<div class="col m9 s12">
				
					<<<{promoter_email}>>>
				
			</div>

		</div>



		<div class="row">
			<div class="col m3 s12 right-align ">
					<div class="text-bold" style="margin-top:10px"> PHONE: </div>
			</div>
			<div class="col m9 s12">
				
					<<<{promoter_phone}>>>
				
			</div>

		</div>


		<div class="row">
			<div class="col m3 s12 right-align ">
					<div class="text-bold" style="margin-top:10px"> ORGANISATION: </div>
			</div>
			<div class="col m9 s12">
				
					<<<{promoter_organisation}>>>
				
			</div>

		</div>



		<div class="row">
			<div class="col m3 s12 right-align ">
					<div class="text-bold" style="margin-top:10px"> ADDRESS: </div>
			</div>
			<div class="col m9 s12">
				
					<<<{promoter_address1}>>>
					<<<{promoter_address2}>>>

			</div>

		</div>


		<div class="row">
			<div class="col m3 s12 right-align ">
					<div class="text-bold" style="margin-top:10px"> TOWN: </div>
			</div>
			<div class="col m9 s12">
				
					<<<{promoter_city}>>>
				
			</div>

		</div>

		<div class="row">
			<div class="col m3 s12 right-align ">
					<div class="text-bold" style="margin-top:10px"> COUNTY: </div>
			</div>
			<div class="col m9 s12">
				
					<<<{promoter_county}>>>
				
			</div>

		</div>


		<div class="row">
			<div class="row fixed-action-btn ">
				
					<<<{promoter_action_options}>>>
				
			</div>

		</div>

	</div>

			

</form>


	<div id="stripe" class="border-bottom row grey lighten-2 padding-20 "  >
		<div class="row">

			<div class="col s12 left text-size-14 text-bold" ><span class="red darken-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> STRIPE </span></div>
		</div>
	

		<div    class="row">

			<<<{stripe_connect}>>>

		</div>






</div>




















