
<div class="row">
	<div class="container">


		<h3>Contact Us</h3>


		<p>You can find a full list of <a href="./?faq">frequently asked questions here</a>, if you can't find the answer to your question please feel free to contact us below.</p>

		

		<form method="post" >

			<div class="form-group">
				<label>Your name* </label>
				<input type="text" placeholder="Your name" class="form-control" name="contact_name" value="<<<{contact_name}>>>"> 
				<span class="error-submit"> <<<{error_name}>>> </span>            
			</div>


			<div class="form-group">
				<label>Your e-mail address:*</label>
				<input type="text" placeholder="Your e-mail" class="form-control" name="contact_email" value="<<<{contact_email}>>>"> 
				<span class="error-submit"> <<<{error_email}>>> </span>
			</div>

			<div class="form-group">
				<label>Query type</label>
				<input type="text" placeholder="" class="form-control" name="contact_query_type" value="<<<{contact_query_type}>>>"> 
			</div>    


			<div class="form-group">
				<label>Your comments*</label>
				<textarea style="height:200;" type="text" placeholder="Your comments" class="form-control" id="textarea_input" name="contact_comments"> <<<{contact_comments}>>> </textarea> 
				 <h6 class="pull-right" id="count_message"></h6>
				<span class="error-submit "> <<<{error_comments}>>> </span>
			</div>        


			<div class="form-group">
				<label>Captcha*</label>
				<div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="<<<{reCaptchaSiteKey}>>>"></div>

			</div>   
			<script>
				function recaptchaCallback() {
					$('#submitBtn').removeAttr('disabled');
				};
			</script>

			<button type="submit" id="submitBtn" class="btn btn-lg btn-info "  name="contact_form" disabled >Submit</button>     

			<br>* = required
		</form> 

	</div>
</div>


