<div style="background-image: url(<<<{ticket_background}>>>); background-position: top left; background-repeat: no-repeat; background-size:1000px; width:1000px; ">
        <img src="<<<{ticketstop_logo}>>>" style="margin-bottom: 20px;"><br>
        <div style="display:inline-block; border: 2px solid #d7d7d7; border-radius: 6mm; background: #FFFFFF;  width:90%; margin:5%;">
            <div style="display:inline-block; width: 400px; border: 0px solid #334499; padding:10px">
            <b style="text-transform:uppercase;"> <<<{buyer_name}>>> </b><br><br>
            <b>EMAIL:</b><br> <<<{buyer_email}>>> <br>
            <b>ORDER NUMBER:</b><br> <<<{order_number}>>> <br>
            <b>ORDER TOTAL</b><br> <<<{order_total}>>> <br>
            <br>
            
             <table>
            <tr><td><b>EVENT:</b></td><td> <<<{event_title}>>> </td></tr>
            <tr><td><b>VENUE:</b></td><td> <<<{venue_name}>>> <br> <<<{venue_address}>>> </td></tr>
            <tr><td><b>DATE:</b></td><td> <<<{event_date_date}>>> </td></tr>
            <tr><td><b>TIME:</b></td><td> <<<{event_date_time}>>> </td></tr>
            </table>
             
            <br><i> <<<{accessmsg}>>> </i><br><br><br>
            
            </div>
            <div style="position: relative; width: 400; padding:10px; float: right; border: 0px solid #334499; text-align: left; ">
            <b>TICKET(S):</b><br>
            <table>
             <thead>
                <tr>
                    <td>Type</td>
                    <td>Qty</td>
                    <td>Price</td>
                    <td>Ticket number</td>
                </tr>
             </thead>
             <<<{event_tickets}>>>
             </table>


            <img src="<<<{page_url}>>>/qrscanner/qrcode.php?id=<<<{ticket_ids}>>>">
            <br>
            <span style="font-size: 9px; margin-left:30px; font-weight: bold;">This barcode allows one entry per scan</span>
            </div>

        </div>

        
        <div style=" text-align: center; font-weight: bold; width:100%">
    ** THIS IS YOUR TICKET - PLEASE PRESENT THIS AT THE ABOVE EVENT FOR ADMISSION **</div><br>
        <div style="font-size: 14px; text-align: center; font-style: italic; font-weight: bold; color: #FF0000; width:100%">
    Unauthorised duplication or sale of this ticket may prevent your admittance to the event</div>
        <br><br>
    </div>
    
    <div style="line-height: 140%; margin:14px;">
        <b>* TERMS & CONDITIONS *</b><br><br>
    By using this ticket, the holder hereof agrees to and accepts all conditions of acceptance contained herein and all arena / organisation rules and standards of conduct posted in or about the arena.<br>
    &middot;  Ensure your ticket is from an authorised agent only.  Those with counterfeit tickets will be refused admission and be prosecuted.<br>
    &middot;  Event organisers reserve the right to refuse admission to the grounds or any part thereof or to have any persons removed from grounds for public safety reasons, overcrowding or otherwise as the organisers do not accept any liability for loss or damages, consequential or otherwise.<br>
    &middot;  Holder consents to a reasonable examination of his/her person and belongings to ensure compliance with all rules and regulations.  Restricted items, including the following are prohibited from being brought into the arena: alcoholic beverages, illegal drugs, bottles, cans, food products and all forms of audio/video recording or transmitting devices. Re-admission may be refused if ticket holder leaves the grounds.<br>
    &middot;  Unless written permission is given by the organiser this ticket cannot be used for any promotional purposes.<br>
    &middot;  It is with regret that we cannot refund or exchange any tickets after purchase.  This does not affect your statutory rights.<br>
    &middot;  The holder of this ticket is admitted on condition and by using this ticket agrees he/she will not transmit or aid in transmitting any description, account, picture, video, audio or reproduction of the event to which this ticket admits.<br>
    &middot;  By purchasing this ticket you are consenting to participate in any recordings made and forthwith grant all necessary consents for performers protection act.<br>
    &middot;  After purchase the holder of this ticket is responsible for its care.  Ticket agents do not accept any responsibility for any loss or damage of the ticket.  Full intact ticket required for admission and re-admission may be refused unless prior arrangements have been agreed.<br>
    &middot;  Late arrivals may not be admitted until a suitable interval and admission may not be guaranteed.<br>
    &middot;  The activity of crowd surfing/moshing is strictly prohibited and offenders will be removed from the event without refund.  Hail, rain or sunshine the event will take place. In the unlikely event of postponement or cancellation, the ticket price may be refunded, excluding applicable service charges and handling fees.<br>
    &middot;  Ticket outlets are merely ticket retailers at the request of the promoter and accepts no responsibility or liability whatsoever for any loss incurred by the purchaser if the event does not take place in whole or part.<br>
    &middot;  Ticket outlet and telephone handling charges may apply for certain events.  <br>
    &middot;  Ticket holder voluntarily assumes all risk and danger of personal injury and all responsibility for property loss, destruction or theft and all hazards arising from or relating in any way to the event for which this ticket is issued whether occurring prior to, during or after the event and releases the ticket issuer, the event producer, the facility, the performers, sponsors and all organisations involved from all liability thereafter save where and to the extent that same arises from breach of contract (not due to the event of Force Majeure) or by  the negligent act or omission of said organisations involved. <br>
    &middot;  It is criminal offence to record a performer's performance without their prior written consent.  Any use of recording equipment or cameras is strictly prohibited<br>
        </div>
</div>    
