
<<<{info}>>>



<div class="row">
    <div class="container">
      <div class="hidden-md hidden-lg">
       <h1><<<{event_details_title}>>></h1>
       <h2></h2>
     </div>


       <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=1267136720078917&version=v2.9";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your share button code -->
  <div class="fb-share-button" 
    data-href="<<<{social_url}>>>" 
    data-layout="button_count">
  </div>

 	 <!-- <div id="fb-root"></div>
		  <script>(function(d, s, id) {
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) return;
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1708428792754693";
		    fjs.parentNode.insertBefore(js, fjs);
		  }(document, 'script', 'facebook-jssdk'));</script>

      <ul class="social-media">
	      <li class="fb-share-button">
	        
	        <div class="fb-like" data-href="<<<{social_url}>>>" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

	      </li>

	      <li class="tw-share-button">
	        <a href="<<<{social_url}>>>" data-text="<<<{title}>>>"  class="twitter-share-button" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"  data-lang="en"></script>
	      </li>

	      <li class="gp-share-button">
	        <script src="https://apis.google.com/js/platform.js" async defer></script>
	        <div class="g-plus" data-action="share" data-annotation="bubble"></div>
	      </li>        

    </ul> -->

     <h3><<<{event_details_title}>>></h3>

     <<<{event_details_description}>>>

     <<<{event_details_age_info}>>>

     <<<{event_details_dates}>>>




</div>
</div>
