<div class="row">
	<div class="container">


		<h3>Promoter Registration</h3>


		<p>Get started selling your event online in minutes!</p>

		<p><a href="promoter.html?loginWith=facebook" class="sociallogin facebook"><img src="images/page/facebook.png" class="shareico"> Signup with Facebook</a></p>

		<!-- <p><a href="#" class="sociallogin twitter"><img src="images/page/twitter.png" class="shareico"> Signup with Twitter</a></p>

		<p><a href="#" class="sociallogin google"><img src="images/page/google-plus.png" class="shareico"> Signup with Google</a></p> -->


		<p>Or sign up for a Ticketstop.ie account.</p>

		<h3>Registration</h3>

		<form method="post" action="promoter.html">

			<div class="form-group">
				<label>First Name* </label>
				<input type="text" placeholder="Enter First Name Here.." class="form-control" name="first_name" value="<<<{first_name}>>>"> 
				<span class="error-submit"> <<<{error_first_name}>>> </span>            
			</div>


			<div class="form-group">
				<label>Last Name*</label>
				<input type="text" placeholder="Enter Last Name Here.." class="form-control" name="last_name" value="<<<{last_name}>>>"> 
				<span class="error-submit"> <<<{error_last_name}>>> </span>
			</div>

			<div class="form-group">
				<label>Company Name</label>
				<input type="text" placeholder="Enter Company name Here.." class="form-control" name="organisation" value="<<<{organisation}>>>"> 
			</div>    


			<div class="form-group">
				<label>Contact Phone</label>
				<input type="text" placeholder="Enter Phone number Here.." class="form-control" name="phone_number" value="<<<{phone_number}>>>"> 
				<span class="error-submit "> <<<{error_phone_number}>>> </span>
			</div>        



			<div class="form-group">
				<label for="exampleInputEmail1">Contact Email*</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email" value="<<<{email}>>>">
				<span class="error-submit "> <<<{error_email}>>> </span>
			</div>



			<div class="form-group">
				<label>Password*</label>
				<input type="password" placeholder="Password" class="form-control" name="password"> 
				<span class="error-submit"> <<<{error_password}>>> </span>
			</div>   


			<div class="form-group">
				<label>Captcha*</label>
				<div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="<<<{reCaptchaSiteKey}>>>>"></div>

			</div>   
			<script>
				function recaptchaCallback() {
					$('#submitBtn').removeAttr('disabled');
				};
			</script>

			<button type="submit" id="submitBtn" class="btn btn-lg btn-info "  name="signup" disabled >Submit</button>     
			<br>* = required
		</form> 

	</div>
</div>
