<div id="content" class="container">
	
	<div class="row">	

		<h5><i class="material-icons">bookmark_border</i> <<<{form1_name}>>> </h5>
		<form class="col s12" method="post">

			<div class="row">
				<div class="input-field col s12">
					<<<{setting_value}>>>
				</div>
			
				<div class="input-files col s12">
					<<<{setting_save}>>>
				</div>
		</form>
	</div>

</div>









