<?php 
$build =  $_GET['build'];

$printOut = '<div class="table_title">GALLERY: ';
$printOut .= '<a href="admin.php?build=' . $build . '&add">Add new</a>';
$printOut .= ' | <a href="admin.php?build=' . $build . '&show_all">Show all</a>';
$printOut .= '</div>';


if (isset($_GET['add'])) {include($path_webpage_build."/".$build."_new.php");} 
if (isset($_GET['show_all'])) {include($path_webpage_build."/".$build."_show_all.php");}
if (isset($_GET['edit'])) {include($path_webpage_build."/".$build."_edit.php");} 

$buildPage->addToBlock("content", $printOut);



?>
