<div class="row">
	<div class="container full-height">
		

		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout-botom'>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><span class="badge">1</span> Details</div>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><strong>2</strong>. Checkout</div>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><strong>3</strong>. Confirmation</div>			
		</div>


		<div class='col-xs-12 col-sm-8 col-md-8 col-lg-8'>
			<div class="white-bg padding-15 checkout-botom">
				<h3><<<{event_details_title}>>></h3>					
				<p> <<<{event_details_description}>>> </p>						
				<p><img src="<<<{event_picture}>>>" alt="..." class="img-thumbnail"></p>
				
				<h4>Event info</h4>

				<p><span class="glyphicon glyphicon-calendar"></span> <<<{event_details_day_name}>>> <<<{event_details_day}>>> <<<{event_details_month_name}>>> <<<{event_details_year}>>> at <<<{event_details_time}>>> </a></p>			
				<p><span class="glyphicon glyphicon-map-marker"></span> <<<{event_details_venue_name}>>> <<<{event_details_venue_address}>>> </p>	
				<h4>Your Details</h4>

				<form method="post">
    	  	

					  <div class="form-group">
			            <label>First Name</label>
			            <input type="text" placeholder="Enter First Name Here.." class="form-control" name="buyer_first_name"> 
			            <span class="error-submit"> </span>            
			          </div>


			          <div class="form-group">
			            <label>Last Name</label>
			            <input type="text" placeholder="Enter Last Name Here.." class="form-control" name="buyer_last_name"> 
			            <span class="error-submit"> </span>
			          </div>

			          <div class="form-group">
			            <label>Email</label>
			            <input type="email" placeholder="Enter Email Here.." class="form-control" name="buyer_email"> 
			            <span class="error-submit"> </span>   
			          </div>   

			          <div class="form-group">
			            
			            <button type="submit" class="btn-buy-white pull-right">Next</button>
			            
			          </div>   
 

				</form>
					
			</div>
		</div>

		<div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
			<div class="padding-15">
				<h4>Summary</h4>
				
				<p>Face value (inc. booking charges)</p>

				<table class="table">
					<th>Item</th><th>Quantity</th><th>Price</th>
					<<<{ticket_details_table}>>>

					<tr>
							<td>Payment fee</td>
							<td></td>
							<td>&euro;<<<{orderPaymentFee}>>></td>	
					</tr> 

					<tr>
							<td>Total</td>
							<td></td>
							<td>&euro;<<<{orderTotal}>>></td>	
					</tr> 
				</table>




			</div> 
		</div> 


	</div>
</div>


