<div class="row">
	<div class="container full-height">
		

		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout-botom'>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><span>1.</span> Details</div>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><span class="badge">2</span> Checkout</div>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><strong>3</strong>. Confirmation</div>			
		</div>


		<div class='col-xs-12 col-sm-8 col-md-8 col-lg-8'>
			<div class="white-bg padding-15 checkout-botom">

				
				<<<{error}>>>
				<<<{payment_form}>>>
					
			</div>
		</div>

		<div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
			<div class="padding-15">
				<h4>Summary</h4>
				
				<p>Face value (inc. booking charges)</p>

				<table class="table">
					<th>Item</th><th>Quantity</th><th>Price</th>
					<<<{ticket_details_table}>>>

					<tr>
							<td>Payment fee</td>
							<td></td>
							<td>&euro;<<<{orderPaymentFee}>>></td>	
					</tr> 

					<tr>
							<td>Total</td>
							<td></td>
							<td>&euro;<<<{orderTotal}>>></td>	
					</tr> 
				</table>




			</div> 
		</div> 


	</div>
</div>




		
				
			    	  	
				
				
