<div class="row">
	<div class="container full-height">
		

		<div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 checkout-botom'>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><strong>1</strong> Details</div>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><strong>2</strong> Checkout</div>
			<div class='col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center'><span class="badge">3</span> Confirmation</div>			
		</div>


		<div class='col-xs-12 col-sm-8 col-md-8 col-lg-8'>
			<div class="white-bg padding-15 checkout-botom">

				<h4>THANK YOU</h4>
					<span> Thank you for your payment, your confirmation number is <<<{order_number}>>>. </span><br><br>
					<span>For your convenience a copy of this receipt has been sent to the email specified at check out. </span><br>
					<span> Please make a note of the following information:</span><br>
					<br> 
					<span> IMPORTANT </span><br><br>
					
					<span> Order Number <<<{order_number}>>> </span><br>
					<br>
					<span> 1. Please print your Tickets </span><br>

					<span> Please ensure you have printed your tickets or have receieved an email from Ticketstop with a link to reprint your tickets before leaving this page. </span><br>
					<br>
					<span><a href="<<<{ticket_print_url}>>>"> Click here to print your ticket </a></span><br>
					<span> Click here to print/save your ticket as PDF </span><br>
					<br>
					<span> 2. Check your email for a receipt</span><br>
					<br>
					<span> We always send an email immediately to your inbox when you make a purchase. This email contains a copy of all the important information above. If you did not get an email please check your Spam folder as it may have been filtered by accident.</span><br>
					<br>
					<span> 3. Save your Order Number</span><br>
					<br>
					<span> Please retain a copy of your order number (<<<{order_number}>>>) and keep it in a safe place. You will need this if you have wish to reprint your ticket at a later date. </span><br> 	
					
			</div>
		</div>

		<div class='col-xs-12 col-sm-4 col-md-4 col-lg-4'>
			<div class="padding-15">
				<h4>Summary</h4>
				
				<p>Face value (inc. booking charges)</p>

				<table class="table">
					<th>Item</th><th>Quantity</th><th>Price</th>
					<<<{ticket_details_table}>>>
					
					<tr>
							<td>Payment fee</td>
							<td></td>
							<td>&euro;<<<{orderPaymentFee}>>></td>	
					</tr>

					<tr>
							<td>Total</td>
							<td></td>
							<td>&euro;<<<{orderTotal}>>></td>	
					</tr> 
				</table>




			</div> 
		</div> 


	</div>
</div>




