<!DOCTYPE>
<html lang="en">
<head>

  <base href="<<<{base_url}>>>" />
  <meta charset="UTF-8">
  <title><<<{title}>>></title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <meta name="description" content="<<<{description}>>>" />
  <meta name="keywords" content="<<<{keywords}>>>" />


  <meta property="og:title" content="<<<{title}>>>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="<<<{description}>>>" />
  <meta property="og:url" content="<<<{social_url}>>>" />
  <meta property="og:image" content="<<<{social_image_url}>>>" />
  <meta property="og:image:width" content="<<<{social_image_width}>>>" />
  <meta property="og:image:height" content="<<<{social_image_height}>>>" />
  <meta property="fb:app_id" content="1267136720078917" />



  <meta name="twitter:site" content="@ticketstopie">
  <meta name="twitter:title" content="<<<{title}>>>">
  <meta name="twitter:description" content="<<<{description}>>>">
  <meta name="twitter:image:src" content="<<<{social_image_url}>>>">

  
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
  <link rel="icon" type="image/png" href="images/page/favicon.png">



  <<<{header}>>>
	<<<{afterHeader}>>>


</head>

<body class="<<<{body_classes}>>>">
  <div class="container-fluid no-margin no-padding">
    <div class="row">
      <<<{adverts_banner}>>>
     
    </div>
    <div class="row ">
      
     
      <<<{hero-div}>>>
       <<<{menu}>>>

      <<<{search}>>>

      <<<{hero-div-end}>>>

      <<<{info}>>>

   
    </div>