<div class="container">


	
	<form class="" method="post" enctype="multipart/form-data">




	<div class="border-bottom row white lighten-2 paddingV-10  <<<{hideIfAddDate}>>>"  >
		<div class="row">

			<div class="col s12 left text-size-14 text-bold">
				<span class="red darken-4  white-text text-bold padding-10 border-radius-5 margin-left--7vw"> EVENT DETAILS </span></div>
		</div>
	

		<div class="row">
		
			<div class="col s3  right-align ">
					<div class="text-bold ">EVENT NAME:</div>
			</div>
			<div class="col s9 ">
				
					<<<{event_title}>>>
				
			</div>
		</div>
		<div class="row ">
			<div class="col s3  right-align ">
					<span class="text-bold">EVENT URL:</span>
			</div>
			<div class="col s9 ">	
					<<<{event_url}>>>
				
			</div>
		</div>
<!-- 
		<div class="row">
			<div class="col s3  right-align ">
					<span class="text-bold">DESCRIPTION: </span>
			</div>
			<div class="col s9 "><<<{event_description}>>></div>

		</div>
 -->




		<div class="row">
			<div class="col s3  right-align ">
					<span class="text-bold">EVENT STATUS:</span>
			</div>
			<div class="col s9 ">
				
					<<<{event_status}>>>
				
			</div>

		</div>



		<div class="row">
			<div class="col s3  right-align ">
					<span class="text-bold">EVENT CATEGORY:</span>
			</div>
			<div class="col s9 ">
				
					<<<{event_category}>>>
				
			</div>

		</div>


		<div class="row">
			<div class="col s3  right-align ">
					<span class="text-bold">EVENT PRIVACY:</span>
			</div>
			<div class="col s9 ">
				
					<<<{event_privacy}>>>
				
			</div>

		</div>



		<div class="row">
			<div class="col s3  right-align ">
					<span class="text-bold">EVENE AGE INFO:</span>
			</div>
			<div class="col s9 ">
				
					<<<{event_age_info}>>>
				
			</div>

		</div>






		<div class="row">
				<div class="col s3  right-align" style="">
					<span class="text-bold" >VENUE:</span>
				</div>
				
				<div class="col s9 ">
					
						<<<{event_venue}>>>
					
				</div>
			
		</div>


		<div class="row">
			<div class="col s3  right-align" style="">
				<span class="text-bold" >EVENT DATE:</span>
			</div>
			
			<div class="col s9 ">
				
					<<<{event_date}>>>
				
			</div>
			
		</div>



		<div class="row">
			<div class="col s3  right-align" style="">
				<span class="text-bold" >EVENT TIME:</span>
			</div>
			
			<div class="col s9 ">
				
					<<<{event_time}>>>
				
			</div>
			
		</div>





		<div class="row">
			<div class="col s3  right-align" style="padding-top:1rem">
					<span class="text-bold" >THIS DATE STATUS:</span>
			</div>
			<div class="col s9 ">
				
					<<<{event_date_status}>>>
				
			</div>

		</div>	


	</div>

			







	


	<div class="border-bottom row white lighten-2  paddingV-10 <<<{hideIfModify}>>>" >

		<div class="row">

			<div id="tickets" class="col s12 left text-size-14 text-bold">
				<span class="red darken-4  white-text text-bold padding-10 border-radius-5 margin-left--7vw"> TICKET TYPES </span></div>
		</div>

		<div class="row">
			<div class="col s12 s3 left">
				<div class="text-bold" style="padding-top:0rem">NEW TICKET: </div>
			</div>
		</div>

		<div class="row">

			<div class="col s12 s9 data-to-collect" id="ticket_data_to_collect">

				<div class="input-field col s3">
					<input type="text" placeholder="Early Bird, Adult, Family etc" name="event_ticket_name" id="event_ticket_name">
					<label for="event_ticket_name">Name</label>
				</div>
			
				<div class="input-field col s3">
					<input type="text" name="event_ticket_quantity" id="event_ticket_quantity">
					<label for="event_ticket_quantity">Quantity</label>
				</div>
			
				<div class="input-field col s3">
					<input type="text" name="event_ticket_price" placeholder="0 - free" id="event_ticket_price">
					<label for="event_ticket_price">Price</label>
				</div>
			

			</div>
		</div>



		<div class="row ">

			<div class="col s12 s3 left">
				<div class="text-bold" style="">TICKETS: </div>
			</div>

		</div>

		<div class="row">

			<div class="col s12 s9">


				<div class="row border-bottom">

					<div class="col s3 text-bold">Name</div>
					<div class="col s3 text-bold">Qty</div>
					<div class="col s3 text-bold">Price</div>
					<div class="col s3 text-bold right-align">Action</div>

				</div>
				
				<div id="event_existing_tickets_callback">
					<<<{event_existing_tickets}>>>
				</div> 


			</div>
		</div>

		


	</div>





	<div class="border-bottom row white lighten-2 paddingV-10 <<<{hideIfAddDate}>>>"  id="settings-details">

		<div class="row">
			<div id="scanner" class="col s12 left text-size-14 text-bold"><span class="red darken-4  white-text  text-bold padding-10 border-radius-5 margin-left--7vw"> SCANNER SETUP </span></div>
		</div>

		<div class="row">

			


			<div class="col s12">

				
				
				<div class="qrcode"></div>

			</div>
		</div>
	</div>


	<div class="row black padding-10-20">
		<div class="col s12">
			<<<{event_action_options}>>>
		</div>
	</div>

</form>


</div>




















