<div class="paddingV-20">

	<div id="submenu" class="paddingV-10"> 
		<<<{submenu}>>>
	</div>	

	<div class="row  paddingV-10 paddingH-20 white">
		
		<div class="col s6 white " >
			<div class="text-bold text-size-14  "> <<<{welcome_text_left}>>></div> 
		</div>
		<div class="col s6 white ">
			<div class="right-align ">
				<<<{welcome_text_right}>>>
				
			</div>
		</div>

		<div class="col s12 ">
			<<<{welcome_bottom}>>>
			

		</div>
		      	
	</div>

	
	<form class="" method="post" enctype="multipart/form-data">




	<div class="border-bottom row white lighten-2 padding-20 <<<{hideIfAddDate}>>>"  >
		<div class="row">

			<div class="col s12 left text-size-14 text-bold"><span class="grey accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> EVENT DETAILS </span></div>
		</div>
	

		<div class="row">
		
			<div class="col m3 s12 right-align ">
					<div class="text-bold ">EVENT NAME*: </div>
			</div>
			<div class="col m9 s12">
				
					<<<{event_title}>>>
				
			</div>
		</div>
		<div class="row ">
			<div class="col m3 s12 right-align ">
					<span class="text-bold">EVENT URL: </span>
			</div>
			<div class="col m9 s12">	
					<<<{event_url}>>>
				
			</div>
		</div>
<!-- 
		<div class="row">
			<div class="col m3 s12 right-align ">
					<span class="text-bold">DESCRIPTION: </span>
			</div>
			<div class="col m9 s12"><<<{event_description}>>></div>

		</div>
 -->




		<div class="row">
			<div class="col m3 s12 right-align ">
					<span class="text-bold">EVENT STATUS: </span>
			</div>
			<div class="col m9 s12">
				
					<<<{event_status}>>>
				
			</div>

		</div>



		<div class="row">
			<div class="col m3 s12 right-align ">
					<span class="text-bold">EVENT CATEGORY: </span>
			</div>
			<div class="col m9 s12">
				
					<<<{event_category}>>>
				
			</div>

		</div>


		<div class="row">
			<div class="col m3 s12 right-align ">
					<span class="text-bold">EVENT PRIVACY: </span>
			</div>
			<div class="col m9 s12">
				
					<<<{event_privacy}>>>
				
			</div>

		</div>



		<div class="row">
			<div class="col m3 s12 right-align ">
					<span class="text-bold">EVENE AGE INFO: </span>
			</div>
			<div class="col m9 s12">
				
					<<<{event_age_info}>>>
				
			</div>

		</div>






		<div class="row">
				<div class="col m3 s12 right-align" style="">
					<span class="text-bold" >VENUE: </span>
				</div>
				
				<div class="col m9 s12">
					
						<<<{event_venue}>>>
					
				</div>
			
		</div>


		<div class="row">
			<div class="col m3 s12 right-align" style="">
				<span class="text-bold" >EVENT DATE: </span>
			</div>
			
			<div class="col m9 s12">
				
					<<<{event_date}>>>
				
			</div>
			
		</div>



		<div class="row">
			<div class="col m3 s12 right-align" style="">
				<span class="text-bold" >EVENT TIME: </span>
			</div>
			
			<div class="col m9 s12">
				
					<<<{event_time}>>>
				
			</div>
			
		</div>





		<div class="row">
			<div class="col m3 s12 right-align" style="padding-top:1rem">
					<span class="text-bold" >THIS DATE STATUS: </span>
			</div>
			<div class="col m9 s12">
				
					<<<{event_date_status}>>>
				
			</div>

		</div>	


	</div>

			







	


	<div class="border-bottom row grey lighten-2 padding-20 <<<{hideIfModify}>>>" >

		<div class="row">

			<div id="tickets" class="col s12 left text-size-14 text-bold"><span class="red accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> TICKET TYPES </span></div>
		</div>

		<div class="row">
			<div class="col s12 m3 right-align">
				<div class="text-bold" style="padding-top:1rem">NEW TICKET: </div>
			</div>

			<div class="col s12 m9 data-to-collect" id="ticket_data_to_collect">

				<div class="input-field col s3">
					<input type="text" placeholder="Early Bird, Adult, Family etc" name="event_ticket_name" id="event_ticket_name">
					<label for="event_ticket_name">Name</label>
				</div>
			
				<div class="input-field col s3">
					<input type="text" name="event_ticket_quantity" id="event_ticket_quantity">
					<label for="event_ticket_quantity">Quantity</label>
				</div>
			
				<div class="input-field col s3">
					<input type="text" name="event_ticket_price" placeholder="0 - free" id="event_ticket_price">
					<label for="event_ticket_price">Price</label>
				</div>
			
				<div class="input-field col s3">
					<button class="btn waves-effect waves-light right callback_post submit-data-to-collect" data-target="event_ticket_add" id="event_ticket_add" type="submit" name="event_ticket_add">add
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</div>


		<div class="row ">

			<div class="col s12 m3 right-align">
				<div class="text-bold" style="">TICKETS TO ADD: </div>
			</div>


			<div class="col s12 m9">


				<div class="row border-bottom">

					<div class="col s3 text-bold">Name</div>
					<div class="col s3 text-bold">Qty</div>
					<div class="col s3 text-bold">Price</div>
					<div class="col s3 text-bold right-align">Action</div>

				</div>
				
				<div id="event_ticket_callback">
					<<<{event_ticket}>>>
				</div> 


			</div>
		</div>


		<div class="row ">

			<div class="col s12 m3 right-align">
				<div class="text-bold" style="">EXISTING TICKETS: </div>
			</div>


			<div class="col s12 m9">


				<div class="row border-bottom">

					<div class="col s3 text-bold">Name</div>
					<div class="col s3 text-bold">Qty</div>
					<div class="col s3 text-bold">Price</div>
					<div class="col s3 text-bold right-align">Action</div>

				</div>
				
				<div id="event_existing_tickets_callback">
					<<<{event_existing_tickets}>>>
				</div> 


			</div>
		</div>

		


	</div>





	<div class="border-bottom row grey lighten-2 padding-20 <<<{hideIfAddDate}>>>"  id="settings-details">

		<div class="row">
			<div id="scanner" class="col s12 left text-size-14 text-bold"><span class="red accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> SCANNER SETUP </span></div>
		</div>

		<div class="row">

			<div class="col s12 m3 right-align">
				<div class="text-bold" style="padding-top:1rem"></div>
			</div>


			<div class="col s12 m9">

				
				
				<div class="qrcode"></div>

			</div>
		</div>
	</div>


	<div class="row black padding-10-20">
		<div class="col s12">
			<<<{event_action_options}>>>
		</div>
	</div>

</form>


</div>




















