<html>
<header>
<style>
	body {font-size:16px; font-family: arial;}
</style>
</header>

<body>
<p style="font-size: 22px;">Contact - form</p>

<p>Name: <<<{contact_name}>>>
<br>
<br>
<p>Email: <<<{contact_email}>>>
<br>
<br>
<p>Query type: <<<{contact_query_type}>>> 
<br>
<br>
<p>Query:</p><br>
<<<{contact_comments}>>> 
<br>

</body>
</html>