<html>
<header>
</header>
<body>
<p style="font-size: 22px;">Your Order Details</p>

<table>
<tr>
	<td colaspan="2">Thank you for your payment, your confirmation number is <<<{order_number}>>>.</td>
</tr>
<tr>
	<td>Event name</td><td> <<<{event_name}>>> </td>
</tr>
<tr>
	<td>Date and time</td><td> <<<{date_time}>>> </td>
</tr>

<tr>
	<td>Venue address</td><td> <<<{venue_address}>>> </td>
</tr>
<tr>
	<td colspan="2">Please present your ticket at the door to gain admission.<br>
	<a href="<<<{print_ticket_url}>>>">Click here to print your ticket</a></td>
</tr>
<tr>
	<td colspan="2">
	Please Note: We recommend that you use Adobe Reader to print your tickets. Adobe Reader is available as a free download.
	Tickets should be printed before the event is due to take place. If you have any problems printing your tickets, please contact us before the event.
	</td>
</tr>
</table>
</body>