<div id="content">
		
		<div class="row container">
		    <div class="col s12">
		    <form method="post" enctype='multipart/form-data'>
		    <h5><i class="material-icons">bookmark_border</i> <<<{form1_name}>>> </h5>
		    	<div class="input-field col s12">
		    		<<<{theme_name}>>>
		    	</div>
		    	<div class="input-field col s12">
		    		<<<{theme_save}>>>
		    	</div>
		    </form>
		   </div>   
		</div>
</div>


