<p><strong>Kilka sł&oacute;w o Polskiej Akademii Wiedzy</strong></p>

<p>&nbsp;</p>

<p>Witamy na stronie internetowej Polskiej Akademii Wiedzy w Dublinie. Jest to szkoła polonijna powstała w &nbsp;październiku 2011 roku. Naszym gł&oacute;wnym celem jest to, aby uczniowie potrafili poprawnie m&oacute;wić, czytać i pisać w języku polskim oraz by dobrze poznali polską kulturę, narodowe zwyczaje i tradycje. Jesteśmy świadomi tego, jak ważne na emigracji jest podtrzymanie poczucia tożsamości narodowej, językowej&nbsp;i religijnej.</p>

<p>Lekcje w Polskiej Akademii Wiedzy prowadzone są w każdą sobotę w godzinach od 9.00 do 13.15. Oferujemy zajęcia dydaktyczno- wychowawcze od przedszkola poprzez sześcioletnią szkołę podstawową aż po trzyletnie gimnazjum. Dzieci mogą r&oacute;wnież rozwijać swoje zainteresowania na zajęciach dodatkowych, kt&oacute;re trwają do godziny 15.00. Każdy może tu znaleźć coś dla siebie, bo proponujemy&nbsp;<strong>zajęcia plastyczne, taneczne, sportowe, chemiczno-fizyczne.</strong>&nbsp;Oferujemy też&nbsp;<strong>lekcje języka hiszpańskiego</strong>&nbsp;oraz&nbsp;<strong>przygotowanie do Pierwszej Komunii Świętej.</strong>&nbsp;Nie zapomnieliśmy też o Rodzicach- mamy dla nich bezpłatne&nbsp;<strong>zajęcia z języka angielskiego.</strong></p>

<p>Aby przybliżyć wychowankom narodowe tradycje, w Polskiej Akademii Wiedzy organizowane są typowo polskie szkolne uroczystości i konkursy. Najważniejsze z nich to: Dzień Nauczyciela połączony z uroczystością Pasowania na Ucznia, akademia z okazji Święta Niepodległości, andrzejki, mikołajki, bal karnawałowy, jasełka, konkurs recytatorski- &quot;Brzechwałeczki&quot;, konkurs ortograficzny dla uczni&oacute;w i rodzic&oacute;w oraz festyn rodzinny &bdquo;Mama, Tata i ja&rdquo;. Wydajemy r&oacute;wnież szkolną gazetkę.&nbsp;<strong>&quot;Pras&oacute;wka&quot;,</strong>&nbsp;kt&oacute;rej tytuł nawiązuje do symbolu szkoły, czyli sowy, jest dwumiesięcznikiem redagowanym przez uczni&oacute;w i nauczycieli. Każdy numer nie tylko dokumentuje życie szkoły, ale też porusza r&oacute;żne ciekawe tematy, kt&oacute;re mają zachęcić uczni&oacute;w do czytania i poszerzania swojej wiedzy.</p>

<p>Wychodzimy z założenia, że najważniejszym elementem systemu dydaktyczno-wychowawczego jest nauczyciel. Dlatego nasza kadra nie tylko jest dobrze wykwalifikowana, ale dysponuje takimi cechami osobowości, kt&oacute;re pozwalają na najefektywniejsze nauczanie.</p>

<p>Nasi uczniowie cały rok otoczeni są opieką logopedyczną oraz psychologiczną. Realizujemy program nauczania na bazie Podstawy Programowej dla szk&oacute;ł polonijnych. W naszej pracy wykorzystujemy podręczniki rekomendowane przez Ministerstwo Edukacji Narodowej RP.</p>

<p>&nbsp;</p>

<p><strong>Dyrekcja Szkoły i Grono Pedagogiczne serdecznie zapraszają wszystkich, dla kt&oacute;rych ważny jest polski język, historia i kultura,&nbsp;</strong><strong>aby odwiedzili</strong></p>

<p><strong>Polską Akademię Wiedzy.</strong></p>

<p>&nbsp;</p>

<p><strong>ZAPISY DO SZKOŁY TRWAJĄ CAŁY ROK !</strong></p>