<p><strong>KOŁO PLASTYCZNE&nbsp; AKWARELA - PROWADZI AGNIESZKA JANOWSKA</strong><br />
<br />
To, co się w największym wysiłku tworzy, winno wyglądać tak, jakby powstało szybko, prawie bez&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
wysiłku, z zupełną łatwością, na przek&oacute;r prawdzie.&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>

<p>Michał Anioł<br />
&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br />
Założeniem pracowni jest rozbudzenie pasji i chęci do tworzenia szeroko rozumianej sztuki plastycznej. Zajęcia z zakresu edukacji artystyczne skierowana są do dzieci i młodzieży.<br />
Naszym celem jest wspomaganie i ukierunkowanie w indywidualnym rozwoju ucznia. Kształtowanie i rozwijanie inteligencji wizualno-przestrzennej, odkrywając talenty, nowe pasje i umiejętności.&nbsp;<br />
R&oacute;wnocześnie zdając sobie sprawę z tego, że nie zawsze efekt końcowy musi być perfekcyjny. Zakładając, że młody tw&oacute;rca czerpie najwięcej doświadczenia i radości w samym procesie tw&oacute;rczym. W pracowni plastycznej chcielibyśmy uniknąć wszelkiej presji ze strony odbiorcy. Presji-bycia perfekcyjnym. Założeniem naszym jest ciężka praca lecz w atmosferze wzajemnej akceptacji. Jeśli chcesz przeżyć wspaniałą przygodę ze sztuką to jest dobre miejsce dla ciebie :) ZAPRASZAMY&nbsp;</p>

<p>&nbsp;<br />
<a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1511.jpg" rel="prettyPhoto[46]"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1511.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1515.jpg" rel="prettyPhoto[46]"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1515.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1525.jpg" rel="prettyPhoto[46]"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1525.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1527.jpg" rel="prettyPhoto[46]"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1527.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1528.jpg" rel="prettyPhoto[46]"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1528.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1532.jpg" rel="prettyPhoto[46]"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1532.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1533.jpg" rel="prettyPhoto[46]"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1533.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1543.jpg" rel="prettyPhoto[46]"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/akwarela/IMG_1543.jpg" /></a></p>

<p>&nbsp;</p>

<hr />
<p>&nbsp;</p>

<p><strong>WARSZTATY ARTYSTYCZNE OŁ&Oacute;WKIEM I PĘDZLEM - PROWADZI JOANNA GRYNIEWICZ&nbsp;</strong></p>

<p>&nbsp;</p>

<p>Warsztaty z Rysunku i Malarstwa&nbsp;skierowane są do wszystkich tych kt&oacute;rzy poszukiwali bardziej zaangażowanej formy wyrażania się poprzez rysunek czy malarstwo.To zajęcia w grupie mieszanej wiekowo. Poziom prac z pierwszych zajęć zadecydował o dalszym uczestnictwie.Odnaleźli się w nich zar&oacute;wno Ci młodsi jak i starsi,kt&oacute;rzy przy dzwiękach muzyki tworza swoje prace.</p>

<p><u>Gł&oacute;wnym celem warsztat&oacute;w jest</u>:</p>

<p>-rozwijanie zdolności obserwacji</p>

<p>-ćwiczenie koncentracji</p>

<p>-uwrażliwienie na kolor czy też poszukiwanie szerokiej gamy odcieni szarości</p>

<p>-nabywanie większej umiejętności i pewności w operowaniu środkami wyrazu plastycznego</p>

<p>-poznawanie nowych ćwiczeń rysunkowych i malarskich.</p>

<p><u>Informacje organizacyjne</u></p>

<p>Warsztaty odbywają się co sobotę, o godz 13:30 i trwają 2 godz lekcyjne.Są to zajęcia otwarte. Odpłatnie mogą brać w nich udział osoby spoza szkoły.</p>

<p><u>Prowadzenie</u></p>

<p>Joanna Gryniewicz absolwentka Wydziału Sztuki w Cieszynie. Dyplom z Malarstwa otrzymała w pracowni &nbsp;adi.II st. Tadeusza Rusa. Uprawia rysunek, malarstwo, fotografię.Jest autorką kilkunastu wystaw indywidualnych jak i zbiorowych.<br />
<br />
<a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4224.jpg"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4224.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4230.jpg"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4230.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4233.jpg"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4233.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4241.jpg"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4241.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4251.jpg"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4251.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4252.jpg"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4252.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4253.jpg"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/olowkiemipedzlem/IMG_4253.jpg" /></a></p>

<p><br />
<br />
<br />
&nbsp;</p>

<hr />
<p><br />
<strong>KOŁO CHEMICZNO- FIZYCZNE-&nbsp; PROWADZI&nbsp; DOMINIKA BLEHM</strong><br />
&nbsp;<br />
Koło chemiczno-fizyczne zaprasza na zajęcia uczni&oacute;w klas od 4-6 kt&oacute;re obejmują w r&oacute;wnym stopniu zagadnienia związane z takimi dziedzinami nauki jak biologia, chemia, fizyka.</p>

<p>Dzieci dowiedzą się co to są cząsteczki, a wykorzystując akcesoria plastyczne zbudują modele znanych związk&oacute;w chemicznych. Przekonają się&nbsp;jak nieprzewidywalne mogą być r&oacute;żne reakcje chemiczne wykorzystując&nbsp;proste odczynniki chemiczne jakie można znaleźć w zasobach kuchennych każdego domu.&nbsp;Poznają podstawy budowy kom&oacute;rki, zobaczą ją pod mikroskopem, dowiedzą się w jaki spos&oacute;b funkcjonuje. Uczniowie&nbsp;wykonują swoje własne preparaty mikroskopowe z cebuli czy plastikowe figurki z mleka. To tylko niekt&oacute;re propozycje zajęć kt&oacute;re wprowadzą dzieci w świat nauk przyrodniczych.</p>

<p>&nbsp;<br />
<br />
&ldquo;&nbsp;<em>Nie istnieje żadna logiczna reguła, według kt&oacute;rej można odkryć podstawowe prawa przyrody. Zdolna jest do tego tylko i wyłącznie intuicja &ldquo;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em><br />
&nbsp;<br />
/Albert Einstein/<br />
&nbsp;</p>

<p><a href="http://szkolapak.com/images/gallery/2015/fiz-chem/ogolne/20141206_145100.jpg" rel="prettyPhoto[97]"><img alt="" src="http://szkolapak.com/images/gallery/2015/fiz-chem/ogolne/20141206_145100.jpg" /></a><a href="http://szkolapak.com/images/gallery/2015/fiz-chem/ogolne/20150425_140845.jpg" rel="prettyPhoto[97]"><img alt="" src="http://szkolapak.com/images/gallery/2015/fiz-chem/ogolne/20150425_140845.jpg" /></a><a href="http://szkolapak.com/images/gallery/2015/fiz-chem/ogolne/20150425_140922.jpg" rel="prettyPhoto[97]"><img alt="" src="http://szkolapak.com/images/gallery/2015/fiz-chem/ogolne/20150425_140922.jpg" /></a><a href="http://szkolapak.com/images/gallery/2015/fiz-chem/ogolne/20150425_141354.jpg" rel="prettyPhoto[97]"><img alt="" src="http://szkolapak.com/images/gallery/2015/fiz-chem/ogolne/20150425_141354.jpg" /></a></p>

<hr />
<p><br />
<strong>ZAJĘCIA Z JĘZYKA HISZPAŃSKIEGO PROWADZI ANNA KRZEMIŃSKA</strong><br />
<br />
W programie zajęć miedzy innymi: poznanie kultury hiszpańskiej oraz ciekawostek związanych z tym krajem, gramatyka, wymowa, dialogi.Nauka ta będzie połączona z zabawą, grami, piosenkami dla dzieci, oczywiście wszystko to w języku hiszpańskim.&nbsp;Wszystkie te formy zajęć będą dostosowane do wieku dzieci.<br />
<br />
Zapraszam chętnych rodzic&oacute;w zainteresowanych nauką języka hiszpańskiego (godziny zajęć do uzgodnienia).<br />
&nbsp;</p>

<hr />
<p><br />
<strong>ZUMBA&nbsp; DLA DZIECI I RODZIC&Oacute;W PROWADZI JUSTYNA MIKOŁAJCZYK</strong></p>

<p>To taniec zainspirowany połączeniem element&oacute;w tańc&oacute;w&nbsp;latynoamerykańskich oraz element&oacute;w fitnes. Zumba zawiera&nbsp; w sobie element tańca i aerobiku.<br />
<br />
<img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/zumba/IMG_20170218_155906_159.jpg" /><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/zumba/IMG_20170225_115447_864.jpg" /><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/zumba/IMG_20170225_154052_018.jpg" /></p>

<p>&nbsp;</p>

<hr />
<p><br />
<strong>ZAJĘCIA SPORTOWE - PROWADZENIE ROBERT WORTMANN</strong><br />
&nbsp;</p>

<p>Zajęcia sportowe dla dzieci rozwijają zmysł r&oacute;wnowagi i koncentracji.&nbsp;Wzmacniają kości i mięśnie dziecka, organizm zostaje dotleniony.&nbsp;Zajęcia te ćwiczą nie tylko ciało, ale i umysł.</p>

<p><br />
<br />
<a href="http://szkolapak.com/images/zajeciadodatkowe/pilka_nozna/1.jpg" target="blank"><img src="http://szkolapak.com/images/zajeciadodatkowe/pilka_nozna/1.jpg" /></a><a href="http://szkolapak.com/images/zajeciadodatkowe/pilka_nozna/2.jpg" target="blank"><img src="http://szkolapak.com/images/zajeciadodatkowe/pilka_nozna/2.jpg" /></a><a href="http://szkolapak.com/images/zajeciadodatkowe/pilka_nozna/3.jpg" target="blank"><img src="http://szkolapak.com/images/zajeciadodatkowe/pilka_nozna/3.jpg" /></a><a href="http://szkolapak.com/images/zajeciadodatkowe/pilka_nozna/4.jpg" target="blank"><img src="http://szkolapak.com/images/zajeciadodatkowe/pilka_nozna/4.jpg" /></a><br />
&nbsp;</p>

<hr />
<p><br />
<strong>GIMNASTYKA KOREKCYJNA - PROWADZI JOLANTA TULIKOWSKA</strong><br />
<br />
Zajęcia z gimnastyki korekcyjnej mają na celu rozpoznanie i skorygowanie wad postawy u dzieci i młodzieży. Wady postawy u dzieci mogą być w przyszłości przyczyną poważnych problem&oacute;w zdrowotnych, jak r&oacute;wnież spadku og&oacute;lnej sprawności organizmu.<br />
<br />
<a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/gimnastykakorekcyjna/PLAKAT_GIMNASTYKA.jpg" target="_blank"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/gimnastykakorekcyjna/PLAKAT_GIMNASTYKA.jpg" /></a><a href="http://szkolapak.com/images/gallery/zajeciadodatkowe/gimnastykakorekcyjna/p2.jpg"><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/gimnastykakorekcyjna/p2.jpg" /></a><br />
&nbsp;</p>

<hr />
<p><br />
<strong>KLUB LEGO - PROWADZI OLGA ZAŁĘSKA</strong></p>

<p>Zajęcia Klubu LEGO Małych Architekt&oacute;w adresowane są do uczni&oacute;w naszej Szkoły &ndash; miłośnik&oacute;w popularnych i lubianych klock&oacute;w LEGO&reg;.</p>

<p>Podczas nich rozwijamy pasję tworzenia, dzielimy wsp&oacute;lną radość budowania, rozbudzamy wyobraźnię. W miłej atmosferze poznajemy podstawy budownictwa i&nbsp;architektury. Uczymy się bawiąc i budując. Rozwiązujemy problemy i mierzymy się z&nbsp;zadaniami jak prawdziwi budowniczy. W trakcie spotkań Klubu tworzymy plany i projekty na wybrany temat. Każde spotkanie niesie nowe wyzwania.</p>

<p>Zajęcia rozwijają kreatywność i budzą ciekawość świata. Wpływają na umiejętności logicznego i przestrzennego myślenia oraz sprawności manualne. Są dostosowane do&nbsp;wieku, możliwości i umiejętności uczestnik&oacute;w. W ciekawy spos&oacute;b uczą podejmowania wyzwań i rozwiązywania problem&oacute;w. Zachęcają do samodzielnego zdobywania wiedzy i&nbsp;są świetną zabawą.</p>

<p>Spotkania Klubu odbywają się w każdą sobotę, w godzinach od 13:30 do 15:00.</p>

<p><br />
<img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/klublego/IMG_6711.jpg" /><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/klublego/IMG_6854_01.jpeg" /><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/klublego/IMG_6868_01.jpeg" /><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/klublego/IMG_6879.jpg" /><img alt="" src="http://szkolapak.com/images/gallery/zajeciadodatkowe/klublego/IMG_7119_01.jpeg" /></p>

<hr />
<p><br />
<strong>ZAJĘCIA DODATKOWE Z RELIGII - PRZYGOTOWANIE DO PIERWSZEJ KOMUNII ŚW.&nbsp; - PROWADZI BEATA WANIC</strong><br />
<br />
Celem naszych spotkan, jest przygotowanie dzieci do I Komunii Swietej. Poznajamy podstawowe wiadomości dotyczące prawd wiary, kt&oacute;re pomagaj dzieciom w lepszym przygotowaniu do Sakramentu. Zajecia prowadzimy wedlug podrecznika: Mały Katechizm, Przygotowanie do pierwszej spowiedzi i Komunii Świętej, wyd. Opole 2013.<br />
&nbsp;</p>

<hr />
<p><br />
<strong>ZAJĘCIA PSYCHOEDUKACYJNE - PROWADZI KATARZYNA ALBIN</strong></p>

<p>&nbsp;<br />
&nbsp;<br />
W ramach zajęć lekcyjnych uczniowie naszej szkoły kilka razy w roku mają zajęcia psychoedukacyjne (psychologiczne).&nbsp; Celem tych zajęć jest poznanie mechanizm&oacute;w zachowania się człowieka, emocji i przekonań, kt&oacute;re wpływają na nasze myśli oraz stosunek do innych. W życiu codziennym rzadko zastanawiamy się&nbsp;nad uczuciami, reakcjami i zachowaniami. Zajęcia psychoedukacyjne mają pom&oacute;c uczniom zdobyć&nbsp;umiejętności wykorzystywane w codziennym życiu, w relacjach z r&oacute;wieśnikami, dorosłymi. Prowadzone są poprzez zabawę, warsztaty, pracę w grupie oraz dyskusję.&nbsp; Często motywem przewodnim zajęć są aktualnie przeżywane przez klasę problemy/sytuacje, a najczęściej poruszanymi tematami są emocje, ich rozpoznawanie, sposoby radzenia sobie z nimi, komunikacja, stres, uzależnienia.<br />
&nbsp;<br />
&nbsp;</p>

<hr />
<p><strong>ZAJĘCIA LOGOPEDYCZNE - PROWADZI MILENA RAKOCZY</strong></p>

<p>&nbsp;</p>

<p>Celem tych zajęć jest kształtowanie mowy w szkole, czyli dbanie o jej prawidłowy i jak najlepszy rozw&oacute;j pod względem fonetycznym, gramatycznym i leksykalnym.&nbsp; Usuwanie wad wymowy, zaburzeń głosu oraz trudności w czytaniu i pisaniu.​</p>