<p><strong>Kadra :</strong></p>

<p>Izabela McDonnell&nbsp; - przedszkole A</p>

<p>Katarzyna Ogrodowicz - przedszkole A</p>

<p>Katarzyna Siejk - przedszkole B</p>

<p>Agnieszka Janowska - przedszkole B</p>

<p>Ewelina Mazurek - klasa 0A</p>

<p>Olga Załęska - klasa 0B</p>

<p>Mirosława Lewandowska - klasa 1A</p>

<p>Joanna Jaworska - klasa 1B</p>

<p>Karolina Rusnak - klasa 2A</p>

<p>Monika Kacprzycka - Coyne - klasa 2B</p>

<p>Weronika Mielewczyk - klasa 3A</p>

<p>Katarzyna Cejrowska - klasa 3B</p>

<p>Monika Kozak - klasa 4a - WOP</p>

<p>Wiktoria Mojżesz- Trala - klasa 4B - j.polski</p>

<p>Iwona Keane - klasa 5 - j.polski</p>

<p>Adrian Białęcki - klasa 6 -&nbsp; matematyka</p>

<p>Anna Ostapowicz - gimnazjum - j.polski</p>

<p>Beata Wanic - religia</p>

<p>Anna Biskup Stawiarska - biblioteka</p>

<p>Milena Rakoczy - logopeda</p>

<p>Katarzyna Albin - pedagog</p>

<p>Joanna Gryniewicz - warsztaty artystyczne</p>

<p>Agnieszka Janowska - koło plastyczne</p>

<p>Dominika Blehm - koło chemiczno - fizyczne</p>

<p>Anna Lewkowska - muzyka</p>

<p>Paulina Biskup - j.angielski dla rodzic&oacute;w</p>

<p>Anna Krzemińska - j. hiszpański</p>

<p>Olga Załęska - klub lego</p>

<p>Robert Wortmann - koło sportowe</p>

<p>Zumba - Justyna Mikołajczyk</p>

<p>Jolanta Tulikowska - gimnastyka korekcyjna</p>