<p><strong>Rozkład grup nauczania języka angielskiego w Szkole PAK</strong><br />
<br />
9:15- 11:00 - konwersacje (poziom średnio zaawansowany)<br />
11:20 - 13:05 - gramatyka (poziom średnio zaawansowany niższy + średnio zaawansowany)</p>