<p><em><strong>Pasja, Poznanie, Zaciekawienie&nbsp;tylko w naszej szkole</strong></em></p>

<p>&nbsp;</p>

<p><strong>Polska Akademia Wiedzy w Dublinie</strong></p>

<p><strong>rozpoczyna rekrutacje uczni&oacute;w</strong></p>

<p><strong>na rok szkolny 2015/2016</strong></p>

<p>&nbsp;</p>

<p><em>Dla kogo jest nasza szkoła?</em></p>

<p>Prowadzimy zajęcia dla przedszkolak&oacute;w (od 3 roku życia) oraz uczni&oacute;w szkoły podstawowej&nbsp; i gimnazjum.</p>

<p>&nbsp;</p>

<p><em>Jak zapisać dziecko do szkoły?</em></p>

<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; osobiście</p>

<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; telefonicznie</p>

<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; przez Internet</p>

<p><br />
Co oferujemy?&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;- zajęcia obowiązkowe odbywają się w każdą sobotę od godziny 9.00 do 13.15<br />
&nbsp;&nbsp; &nbsp;- zajęcia dodatkowe od godziny 13.20 do 15.00<br />
&nbsp;&nbsp; &nbsp;- przedszkole &nbsp;&ndash; wesoły świat zabawy i nauk od 3 roku życia<br />
&nbsp;&nbsp; &nbsp;- oddział przedszkolny 5 i 6 latki (6 latki urodzone po 30.06)<br />
&nbsp;&nbsp; &nbsp;- zajęcia nauczania zintegrowanego &nbsp;kl.1-3 ( klasa 1 , 6 latki urodzone do 30.06)<br />
&nbsp;&nbsp; &nbsp;- zajęcia blokowe kl. IV-VIII<br />
<br />
Zajęcia obowiązkowe&nbsp;&nbsp; &nbsp;<br />
&nbsp;&nbsp; &nbsp;- język polski z przygotowaniem do matury<br />
&nbsp; &nbsp; - historia, geografia &ndash; rozszerzony program uwzględniający elementy polskiej kultury i obyczaj&oacute;w<br />
&nbsp;&nbsp; &nbsp;- matematyka jako ciekawa forma logicznego myślenia<br />
&nbsp; &nbsp; - chemia- fizyka &ndash; odkrywanie nieznanego i tworzenie nowego na drodze eksperyment&oacute;w<br />
&nbsp;&nbsp; &nbsp;- religia (przygotowanie do Pierwszej Komunii Świętej i Bierzmowania dla chętnych)<br />
&nbsp;&nbsp; &nbsp;- muzyka<br />
<br />
Zajęcia dodatkowe w ramach czesnego (dla uczni&oacute;w i rodzic&oacute;w)&nbsp;&nbsp; &nbsp;&nbsp;<br />
&nbsp;&nbsp; &nbsp;- koło plastyczne dla dzieci<br />
&nbsp;&nbsp; &nbsp;- warsztaty artystyczne pozwalające rozwijać uzdolnienia plastyczne<br />
&nbsp; &nbsp; - koło sportowe<br />
&nbsp; &nbsp; - koło chemiczno &ndash; fizyczne<br />
&nbsp; &nbsp; - język angielski dla rodzic&oacute;w<br />
&nbsp;&nbsp; &nbsp;- zajęcia logopedyczne, psychologiczne prowadzone przez specjalist&oacute;w<br />
<br />
Zajęcia dodatkowe płatne przez rodzic&oacute;w&nbsp;&nbsp; &nbsp;&nbsp;<br />
&nbsp; &nbsp; - język hiszpański dla uczni&oacute;w<br />
&nbsp; &nbsp; - gimnastyka korekcyjna i basen (ceny promocyjne dla uczni&oacute;w Szkoły PAK)<br />
&nbsp; &nbsp; - zumba dla rodzic&oacute;w i dzieci<br />
&nbsp; &nbsp; - klub LEGO<br />
&nbsp;&nbsp; &nbsp;</p>

<p>&nbsp;</p>

<p><em>Jakie czesne Państwo zapłacicie?</em></p>

<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>pierwsze dziecko 70 euro miesięcznie</em></p>

<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>drugie dziecko 60 euro miesięcznie</em></p>

<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>trzecie dziecko 20 euro</em></p>

<p>&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>we wrześniu i lutym czesne jest wyższe o 10 euro (opłata za pomoce)</em></p>

<p>&nbsp;</p>

<p><em>Jak się z nami skontakować?</em></p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>Adres szkoły:&nbsp;&nbsp;&nbsp;&nbsp;<strong>O&#39;Connell Secondary School</strong></em></p>

<p><strong><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; North Richmond Street, Dublin 1</em></strong></p>

<p>&nbsp;</p>

<p><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Telefon:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</em><strong>0872559918​</strong></p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<em>E-mail: &nbsp; &nbsp;</em><strong>info@szkolapak.com</strong></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>

<p><em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Strona internetowa:&nbsp;&nbsp;<strong>www.szkolapak.com</strong></em><br />
&nbsp;</p>

<p><a href="http://szkolapak.com/pliki/Statut_szkoly_PAK.pdf"><strong>Prosimy o zapoznanie&nbsp;się ze statutem naszej plac&oacute;wki</strong></a></p>

<p>&nbsp;</p>

<p><a href="http://szkolapak.com/pliki/kwestionariuszPAK.pdf" style="margin: 0px auto; padding: 0px; color: black; outline: none;"><strong>Kwestionariusz przyjęcia do szkoły</strong></a></p>

<p>&nbsp;</p>

<p><strong>Konto bankowe:</strong><br />
Polish Academy of Knowledge Ltd. Bank of Ireland Ranelagh<br />
Sort Code: 90-01-72<br />
Account number: 91633996,<br />
IBAN: IE82BOFI90017291633996,<br />
SWIFT CODE/BIC: BOFIIE2D</p>

<p><br />
<strong>Adres szkoły:</strong>&nbsp;O&#39;CONNELL SECONDARY SCHOOL North Richmond Street, Dublin 1</p>

<p>&nbsp;</p>

<p><br />
<small>Pokaż&nbsp;<a href="http://maps.google.com/maps/ms?msid=204779535412152289649.0004be6e19ed57bef4458&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;z=16&amp;source=embed" style="margin: 0px auto; padding: 0px; color: rgb(0, 0, 255); outline: none;">Szkoła PAK</a>&nbsp;na większej mapie</small></p>