<table border="1" cellpadding="5" cellspacing="0" style="border:1px solid black">
	<tbody>
		<tr>
			<td><strong>Klasa&nbsp;I</strong></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">Maria Kownacka</td>
			<td style="text-align:center">&bdquo;Plastusiowy pamiętnik&rdquo;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Klasa&nbsp;II</strong></td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">A.C. Centkiewiczowie</td>
			<td style="text-align:center">&quot;Zaczarowana zagroda&quot;</td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">grudzień/ styczeń</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">&nbsp;H.Ch. Andersen</span></td>
			<td style="text-align:center">&quot;<span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">Calineczka</span>&quot;</td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">kwiecień /maj</span></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Klasa&nbsp;III</strong></td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">Czesław Centkiewicz</td>
			<td style="text-align:center">&bdquo;Anaruk, chłopiec z Grenlandii&rdquo;</td>
			<td style="text-align:center">grudzień</td>
		</tr>
		<tr>
			<td style="text-align:center">Roman Pisarski</td>
			<td style="text-align:center">&quot;O psie, kt&oacute;ry jeździł koleją&rdquo;</td>
			<td style="text-align:center">maj</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Klasa&nbsp;IV</strong></td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">Joanna Olech</td>
			<td style="text-align:center">&quot;Dynastia Miziołk&oacute;w&rdquo;</td>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">grudzień</span></td>
		</tr>
		<tr>
			<td style="text-align:center">Jan Brzechwa</td>
			<td style="text-align:center">&bdquo;Akademia Pana Kleksa&rdquo;</td>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">maj</span></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Klasa&nbsp;V</strong></td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">Henryk Sienkiewicz</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">&ldquo;Janko Muzykant&rdquo;</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">listopad</span></td>
		</tr>
		<tr>
			<td style="text-align:center">Henryk Sienkiewicz</td>
			<td style="text-align:center">&bdquo;W pustyni i w puszczy&rdquo;</td>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">marzec</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">Bolesław Prus&nbsp;</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">&ldquo;Katarynka&rdquo;&nbsp;</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:calibri,segoe ui,meiryo,microsoft yahei ui,microsoft jhenghei ui,malgun gothic,sans-serif; font-size:16px">maj &nbsp;&nbsp;</span></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Klasa&nbsp;VI</strong></td>
			<td>&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">Aleksander Kamiński</td>
			<td style="text-align:center">&quot;KAMIENIE NA SZANIEC&quot;</td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">druga połowa listopada</span></td>
		</tr>
		<tr>
			<td style="text-align:center">Irena Jurgielewiczowa</td>
			<td style="text-align:center">&bdquo;TEN OBCY&quot;</td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">kwiecień</span></td>
		</tr>
		<tr>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td><strong>Gimnazjum</strong></td>
			<td style="text-align:center">&nbsp;</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">Maria Konopnicka&nbsp;</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">&quot;Miłosierdzie gminy&quot;</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">wrzesień</span></td>
		</tr>
		<tr>
			<td><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">Maria Konopnicka</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">&nbsp;&quot;Dym&quot;</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">wrzesień</span></td>
		</tr>
		<tr>
			<td><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">Aleksander Fredro&nbsp;</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">&quot;Zemsta&quot;</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">grudzień</span></td>
		</tr>
		<tr>
			<td><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">Adam Mickiewicz</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">&quot;Dziady&quot; cz. II</span></td>
			<td style="text-align:center"><span style="color:#222222; font-family:arial,sans-serif; font-size:12.8px">&nbsp;marzec</span></td>
		</tr>
	</tbody>
</table>