<p>Świadectwa wydawane przez naszą szkołę są r&oacute;wnie ważne jak świadectwa wydawane przez wszystkie szkoły polonijne na świecie.</p>

<p>Uczeń jednak zostaje przyjęty do szkoły w Polsce na podstawie świadectwa ze szkoły irlandzkiej.</p>

<p>Dzięki uczestnictwie dzieci w zajęciach szkoły polonijnej, ułatwi się im adaptację w nowym środowisku oraz zniweluje braki edukacyjne.</p>

<p>Pomoc, wskaz&oacute;wki i akty prawne związane z powrotem dziecka do szkoły w Polsce znajdziecie Państwo na stronach internetowych<br />
<br />
<a href="http://www.polska-szkola.pl/" target="_blank">http://www.polska-szkola.pl</a><br />
<br />
<a href="http://www.powroty.gov.pl/pl/chat/archiwum/597.html" target="_blank">http://www.powroty.gov.pl/pl/chat/archiwum/597.html</a><br />
<br />
<a href="http://www.polska-szkola.pl/mod/forum/discuss.php?d=322" target="_blank">http://www.polska-szkola.pl/mod/forum/discuss.php?d=322</a><br />
<br />
<a href="http://www.spzg.pl/" target="_blank">http://www.spzg.pl</a></p>