<table border="1" style="-webkit-text-stroke-width:0px; background-color:#feffeb; border:1px solid #212121; color:#000000; font-family:Arial,Helvetica,sans-serif; font-size:medium; font-style:normal; font-variant-caps:normal; font-variant-ligatures:normal; font-weight:normal; letter-spacing:normal; margin:0px; orphans:2; padding:0px; text-align:start; text-decoration-color:initial; text-decoration-style:initial; text-transform:none; white-space:normal; widows:2; word-spacing:0px">
	<tbody>
		<tr>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><br />
			<span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Przedsz. A</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Przedsz,B</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.00 &ndash; 9.45</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.50 &ndash; 10.35</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">10.40 &ndash; 11.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">11.40 &ndash; 12.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">12.30 &ndash; 13.15</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">0a</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">0b</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.00 &ndash; 9.45</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.50 &ndash; 10.35</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">10.40 &ndash; 11.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Religia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">11.40 &ndash; 12.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">12.30 &ndash; 13.15</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">1a</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">1b</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.00 &ndash; 9.45</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.50 &ndash; 10.35</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">10.40 &ndash; 11.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">11.40 &ndash; 12.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">12.30 &ndash; 13.15</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">2a</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">2b</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.00 &ndash; 9.45</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.50 &ndash; 10.35</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">10.40 &ndash; 11.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">11.40 &ndash; 12.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Religia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">12.30 &ndash; 13.15</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">3a</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">3b</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.00 &ndash; 9.45</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.50 &ndash; 10.35</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">10.40 &ndash; 11.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">11.40 &ndash; 12.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">12.30 &ndash; 13.15</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Zajęcia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">4a</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">4b</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.00 &ndash; 9.45</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">El. biol.-chem.</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.50 &ndash; 10.35</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Historia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">10.40 &ndash; 11.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">El. biol.-chem.</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">11.30 &ndash; 12.15</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Matematyka</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">12.30 &ndash; 13.15</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Matematyka</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">5</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">6</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.00 &ndash; 9.45</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Matematyka</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.50 &ndash; 10.35</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">El. biol.-chem.</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">10.40 &ndash; 11.25</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Historia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">11.30 &ndash; 12.15</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">El. biol.-chem.</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">12.30 &ndash; 13.15</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Historia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle">&nbsp;</td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">7</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Gimnazjum</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.00 &ndash; 9.45</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Historia</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">9.50 &ndash; 10.35</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Matematyka</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">10.40 &ndash; 11.25</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Matematyka</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">11.30 &ndash; 12.15</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">Historia</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; vertical-align:top">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:middle"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">12.30 &ndash; 13.15</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#212121; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">J.polski</span></span></span></td>
			<td style="background-color:#feffeb; border-color:#000000; vertical-align:top"><span style="font-family:Times New Roman"><span style="font-size:medium"><span style="color:#000000">El. biol.-chem.</span></span></span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>