<p><span style="color:#ff0000">PODRĘCZNIKI NA ROK SZKOLNY 2017/2018 ZMIANY KL.1,4,7</span></p>

<table border="1" cellpadding="7" cellspacing="0" style="width:100%">
	<tbody>
		<tr>
			<td>
			<p>KLASA 0</p>
			</td>
			<td>
			<p>TROPICIELE nowość</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>BOX</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="color:#ff0000">KLASA 1</span></p>
			</td>
			<td>
			<p><span style="color:#ff0000">NOWI TROPICIELE</span></p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>BOX ND, 815/1/2017</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>KLASA 2</p>
			</td>
			<td>
			<p>TROPICIELE</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>BOX</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>KLASA 3</p>
			</td>
			<td>
			<p>TROPICIELE</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>BOX</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p><span style="color:#ff0000">KLASA 4</span></p>
			</td>
			<td>
			<p>JĘZ.POL . JUTRO P&Oacute;JDĘ W ŚWIAT</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>

			<p>ND.868/1/2017</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p><span style="color:#ff0000">HISTORIA</span></p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>

			<p>ND 882/1/2017</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p><span style="color:#ff0000">PRZYRODA</span></p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>

			<p>ND 893/2017</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>KLASA 5</p>
			</td>
			<td>
			<p>JĘZ.POL. JUTRO P&Oacute;JDE W ŚWIAT.</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>HISTORIA: HISTORIA WOK&Oacute;Ł NAS</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>PRZYRODA: PRZYRODO, WITAJ! (uczniowie zakupili podręcznik w klasie 4 na dwa lata)</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>KLASA 6</p>
			</td>
			<td>
			<p>JĘZ.POL. JUTRO P&Oacute;JDE W ŚWIAT.</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>HISTORIA:HISTORIA WOK&Oacute;Ł NAS.</p>
			</td>
			<td>
			<p>WYD .WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>KLASA 7</p>
			</td>
			<td>
			<p>JĘZ.POL.MYSLI I SŁOWA.</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>

			<p>ND 895/1/2017</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p><span style="color:#ff0000">HISTORIA</span></p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>

			<p>ND 882/4/2017</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p><span style="color:#ff0000">GEOGRAFIA</span></p>
			</td>
			<td>
			<p>WYD.WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>

			<p>ND890/3/2017</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>GIMNAZJUM KL.3</p>
			</td>
			<td>
			<p>JĘZ.POL. MYŚLI I SŁOWA.</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>SZTUKA PISANIA ĆWICZENIA REDAKCYJNO- STYL.KLASY 1-3 GIMN.(Z POPRZEDNIEGO ROKU ZOSTAJĄ)</p>
			</td>
			<td>
			<p>WYDAWNICTWO DUKACYJNE</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>HISTORIA:BLIŻEJ HISTORII KL 3 GIMN</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>PODRĘCZNIK</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>ĆWICZENIA</p>
			</td>
			<td>
			<p>WYD. WSiP</p>
			</td>
			<td>
			<p>ĆWCZENIA</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
			<td>
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p><br />
&nbsp;</p>