<p><strong>Kalendarz Roku Szkolnego 2016/2017 w szkole PAK:</strong></p>

<ul><br />
	<li>Wrzesień - 3,10,17,24</li>
	<br />
	<li>Październik - 1,8,15,22,29</li>
	<br />
	<li>Listopad - 5,12,19,26</li>
	<br />
	<li>Grudzień - 3,10,17</li>
	<br />
	<li>Styczeń - 7,14,21,28</li>
	<br />
	<li>Luty - 4,11,18,25</li>
	<br />
	<li>Marzec - 4,11,18,25</li>
	<br />
	<li>Kwiecień - 1,8,22,29</li>
	<br />
	<li>Maj - 6,13,20,27</li>
	<br />
	<li>Czerwiec - 3,10,17,24</li>
</ul>