<p>UWAGA !</p>

<p>W SOBOTĘ 25.11.17 OD GODZ.9.30 DO 10.30 W SZKOLE&nbsp;</p>

<p>BĘDZIE PANI MARZENA KOLANO - DORADCA&nbsp;</p>

<p>DIETETYCZNY. ZAPRASZAMY&nbsp;RODZIC&Oacute;W NA SESJE&nbsp;</p>

<p>ZDROWOTNE.</p>