

  <!-- Modal Structure -->
  <div id="modal" class="modal bottom-sheet">
    <div class="modal-content">
      
      <p id="modal-text"></p>
    </div>
    <div class="modal-footer">
      <a href="#!" id="modal_answer_yes" class=" modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
      <a href="#!" id="modal_answer_no" class=" modal-action modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>

  <div id="fullscreenloader" class="hideMe valign-wrapper">
  
    <div class="margin-middle">
      <div class="content"> <<<{fullScreenLoaderContent}>>> </div>
    </div>
    
  </div>



<<<{template_footer}>>>
<<<{template_footer_after}>>>
<<<{template_footer_after_scripts}>>>
<code>
<pre id="debug">
<<<{debug}>>>
</pre>
</code>
</body>



</html>