<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title><<<{title}>>></title>
<<<{afterHeader}>>>
</head>
<body class="white lighten-2">
<div class="row grey lighten-2 margin-bottom-0">
	<div id="menu" class="black"> 
		<<<{menu}>>>
	</div>

	<div id="info">
		<<<{info}>>>
	</div>


	
	
</div>

<div class="container ">

	<div id="submenu" class="row  margin-left-0 margin-right-0 margin-bottom-0"> 
		<<<{submenu}>>>
	</div>	

	<div class="row paddingH-20 grey lighten-2">
		
		<div class="col s6 gray " >
			<div class="text-bold text-size-14  "> <<<{welcome_text_left}>>></div> 
		</div>
		<div class="col s6  ">
			<div class="right-align ">
				<<<{welcome_text_right}>>>
				
			</div>
		</div>

		<div class="col s12 ">
			<<<{welcome_bottom}>>>
			

		</div>
	</div>	      	

</div>
