<div class="row">
	<div class="container">


		<div class="row">

			<div class="main-login">

				<center> <h3>Please Log In, or <a href="signup.html">Sign Up</a></h3> </center>
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<center><a href="login?loginWith=Facebook" class="sociallogin facebook"><img src="images/page/facebook.png" class="shareico"> Signup with Facebook</a> </center>
					</div>



					<!-- <div class="col-xs-12 col-sm-12 col-md-12 text-center">
						<center><a href="./promoter.html?loginWith=google" class="sociallogin google"><img src="images/page/google-plus.png" class="shareico"> Signup with Google</a></center>
					</div> -->
				</div>
				<div class="login-or">
					<hr class="hr-or">
					<span class="span-or">or</span>
				</div>

				<form role="form" method="post" action="promoter.html">
					<div class="form-group">
						<label for="inputUsernameEmail">Username or email</label>
						<input type="text" class="form-control" id="inputUsernameEmail" name="loginnn">
					</div>
					<div class="form-group">
						<!--a class="pull-right" href="#">Forgot password?</a-->
						<label for="inputPassword">Password</label>
						<input type="password" class="form-control" id="inputPassword" name="passworddd">
					</div>
					<div class="checkbox pull-right">
						<label>
							<input type="checkbox">
							Remember me </label>
					</div>
					<button type="submit" class="btn btn btn-primary" name="getMeIn">
							Log In
					</button>
				</form>

			</div>

		</div>
	</div>

</div>
