
<div class="grey lighten-2 container ">

	<div class="row  ">

	  


	  	
		<table class="responsive-table bordered striped white margin-bottom-20 table-dashboard">
			<caption class="left-align grey-text text-darken-1 text-bold text-size-12 padding-5"><<<{upcoming_dates_title}>>></caption>
	        <thead>
	          <tr>
	              <th data-field="name">Name</th>
	              <th data-field="name">Preview</th>
	              <th data-field="date">Date</th>
	              <th data-field="status">Status</th>
	              <th data-field="tickets">Tickets</th>
	              <th data-field="tickets">Vendor Total</th>
	              <th data-field="options" >Options</th>
	          </tr>
	        </thead>
	        <tbody>
	  			<<<{upcoming_dates}>>> 
	  		</tbody>
	  	</table>



	  


		</div>
</div>	



