<div class=" container grey lighten-2">


	<div class="row ">

	  	<table class="responsive-table striped bordered white margin-bottom-20 table-dashboard">
	  		<caption class="left-align grey-text text-darken-1 text-bold text-size-12 padding-5"> <<<{my_all_events_title}>>> </caption>
	        <thead>
	          <tr>
	              
	              <th data-field="name">Name</th>
	              <th data-field="status">Status</th>
	              <th data-field="options" >Options</th>
	          </tr>
	        </thead>

			<tbody>
	  			<<<{my_all_events}>>>
	  		</tbody>
	  	</table>

	

	</div>
</div>




