<div class="container grey lighten-2">


	<div class="row ">

	  	

	  	<table class="responsive-table striped bordered white margin-bottom-20 table-dashboard">
	  		<caption class="left-align red-text text-darken-1 text-bold text-size-12 padding-5"> <<<{past_dates_title}>>> </caption>
	        <thead>
	          <tr>
	              <th data-field="name">Name</th>
	              <th data-field="date">Date</th>
	              <th data-field="status">Status</th>
	              <th data-field="tickets">Tickets</th>
	              <th data-field="options" class="right">Options</th>
	          </tr>
	        </thead>
	        <tbody>
	  			<<<{past_dates}>>> 
	  		</tbody>
	  	</table>


	</div>
</div>




