

<div class="row center">
<h5><i class="material-icons">bookmark_border</i> <<<{form1_name}>>> 	
	
</h5>
</div>

<div class="row black padding-10-20">
	<div class="col s12">
	<<<{event_action_options}>>>
	</div>
</div>
<div class="row">

	<div class="row">
	<div id="event_venue" class="<<<{venue_active}>>> <<<{hideIfNew}>>>">
		<div class="border-bottom row">
			<span class="left padding-10-20 black white-text text-size-14">1. Venue</span>
		</div>

	</div>
	<div class=" ">
		<div class="row padding-20">
			<div class="col s12 padding-20">
				<div id="event_venue_callback">
				<<<{event_date_add_venue}>>>
				</div>
			
			</div>

		</div>
	</div>
	</div>

	<div class="row">
	<div id="event_dates" class=" <<<{dates_active}>>> <<<{hideIfNew}>>>">
		<div class="border-bottom row">
			<span class="left padding-10-20 black white-text text-size-14">2. Dates</span>
		</div>
	</div>
	<div class="">
		<div class="row paddingV-20 padding-bottom-10">
			<div class="col s12" id="event_dates_callback" >
			<<<{event_date_add_dates}>>>
			</div>

			<div class=" row divider"></div>
		</div>

	
		<div class="row paddingV-20">
			<div class="col s12">
			
			<form id="event_dates_add" method="post" class="">

			<div class="row">
				<div class="col s12 m4">
					<div class="input-field">
					<<<{event_date_add_repeat_type}>>>
					</div>
				</div>
			</div>

			<div class="row">	

				<div class="col s12 m4 date_form_input_show_hide single daily weekly monthly hideMe">
					<div class="input-field">
					<<<{event_date_add_start_date}>>>
					</div>
				</div>
				<div class="col s12 m4 date_form_input_show_hide daily weekly monthly hideMe">
					<div class="input-field">
					<<<{event_date_add_end_date}>>>
					</div>
				</div>
				<div class="col s12 m4 date_form_input_show_hide weekly hideMe">
					<div class="input-field">
					<<<{event_date_add_week_days}>>>
					</div>
				</div>
				<div class="col s12 m4 date_form_input_show_hide monthly hideMe">
					<div class="input-field">
					<<<{event_date_add_month_day}>>>
					</div>
				</div>
			
				<div class="col s12 m4 date_form_input_show_hide single daily weekly monthly hideMe">

					<div class="input-field" >
					<<<{event_date_add_time}>>>
					</div>		
					
				</div>
			</div>

				<div class="s12">
					<div class="input-field">
						<<<{event_date_add_save}>>>
					</div>
				</div>
			</form>
			


			</div>
		</div>
				
		
	

	</div>
	</div>

	<div class="row">
	<div id="event_tickets" class=" <<<{tickets_active}>>> <<<{hideIfNew}>>>">
		<div class="border-bottom row">
			<span class="left padding-10-20 black white-text text-size-14">3. Tickets</span>
		</div> 
	</div>
	<div class="">
		
            
        <div class="row paddingV-20">
        	<div class="col s12">
            
            
            <table class="striped bordered">

            	<thead>
            	<tr>
            	<th data-field="name">Name</th>
            	<th data-field="quantity">Qty</th>
            	<th data-field="price">Price</th>
            	<th data-field="options">Action</th>
            	</tr>
            	<tr>
            	</tr>
            	<tfoot>
            	 <tr>
                    <td colspan="4"></td>
                 </tr>
            	 <tr>
            		<form method="post row" id="event_ticket_add">
                    <td>
                    <div class="input-field col s12">
                        <input type="text" name="event_ticket_name" id="event_ticket_name">
                        <label for="event_ticket_name">Name</label>
                    </div>
                    </td>
                    <td>
                    <div class="input-field col s12">
                        <input type="text" name="event_ticket_quantity" id="event_ticket_quantity">
                        <label for="event_ticket_quantity">Quantity</label>
                    </div>
                    </td>
                    <td>
                    <div class="input-field col s12">
                        <input type="text" name="event_ticket_price" id="event_ticket_price">
                        <label for="event_ticket_price">Price</label>
                    </div>
                    </td>
                    <td>
                    <div class="input-field">
                        <button class="btn waves-effect waves-light right callback_post" data-target="event_ticket_add" type="submit" name="event_ticket_add">add
                         <i class="material-icons right">send</i>
                        </button>
                    </div>
                    </td>

                  
        			</form>
            	</tr>
            	</tfoot>
            	</thead>
            	<tbody id="event_ticket_callback">
            	<<<{event_ticket}>>>
            	</tbody>
            	   
            </table>
            </div>
        </div>

        	<div class="divider row"></div>
			<div class="row navigaiton">
				<<<{event_ticket_navigation}>>>
			</div>

	</div>
	</div>


</div>
<div class="row black padding-10-20">
	<div class="col s12">
	<<<{event_action_options}>>>
	</div>
</div>












