<div id="content" class="">
<h5><i class="material-icons">bookmark_border</i> <<<{form1_name}>>> </h5>
	<ul class="collapsible popout" data-collapsible="accordion">
		
		<li>
			<div class="collapsible-header <<<{details_active}>>>">
				<i class="material-icons">edit</i>Details <<<{details_checked}>>>
			</div>
			<div class="collapsible-body padding-20">

				<form class="" method="post">

				<div class="row">
					<div class="input-field col s12">
						<<<{event_title}>>>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6">
					    <<<{event_promoter}>>>
					</div>
				    <div class="input-field col s3">
				        <<<{event_status}>>>
				    </div>
				    
					<div class="input-field col s3">
						<<<{event_category}>>>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<<<{event_description}>>>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<<<{event_save}>>>
					</div>
				</div>

				</form>
	

		</div>
		</li>
		
	</ul>
	</div>












