<div class="container">
	
	
	<form class="" method="post" enctype="multipart/form-data">


	<div class="bottom row grey lighten-2 padding-20 margin-bottom-20 <<<{hideIfAddDate}>>>"  >
		<div class="row">

			<div class="col s12 left text-size-14 text-bold"><span class="red accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> BASIC INFORMATION </span></div>
		</div>
	

		<div class="row">
		
			<div class="col m3 s12 right-align ">
					<div class="text-bold height-3rem" style="padding-top:1rem">EVENT NAME*: </div>
			</div>
			<div class="col m9 s12">
				<div class="input-field">
					<<<{event_title}>>>
				</div>
			</div>
		</div>
		<div class="row ">
			<<<{event_url}>>>
		</div>

		<div class="row">
			<div class="col m3 s12 right-align ">
					<span class="text-bold">DESCRIPTION: </span>
			</div>
			<div class="col m9 s12">
				<div class="input-field ">
					<<<{event_description}>>>
				</div>
			</div>

		</div>
	</div>

	<div class="border-bottom row grey lighten-2 padding-20 <<<{hideIfAddDate}>>>" >

		<div class="row grey lighten-2">

			<div class="col s12 left text-size-14 text-bold"><span class="red accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> APPEARANCE </span></div>
		</div>

		<div class="row">
			<div class="col s12"<span class=""><span>Please choose an image that's <b>at least 800 pixels wide and at least 400 pixels tall</b>.<br>

Your event Image is the first thing people see when they visit your event page. 'Choose any image you want and change it as often as you like.' </span></span></div>
		</div>

		<div class="row grey lighten-2">
			
			<div class="col m3 s12 ">
					
			</div>
			<div class="col m9 s12">

				<div class="file-field input-field">
			      <div class="btn">
			        <span>Select and Upload</span>
			        <input type="file" id="event_img"  name="event_img">
			      </div>
			      <div class="file-path-wrapper">
			        <input class="file-path validate hideMe" type="text" >
			       
			      </div>
			       <input id="addEventImage" type="submit" name="event_add_picture" value="Upload" class="hideMe">
			    </div>


				
			</div>


			
				<div id="crop_variables">

					<!-- This is the form that our event handler fills -->
					<input type="hidden" id="img_to_crop" name="img_to_crop" />
					<input type="hidden" id="x" name="x" />
					<input type="hidden" id="y" name="y" />
					<input type="hidden" id="w" name="w" />
					<input type="hidden" id="h" name="h" />
				</div>

				<!-- The popup for crop the uploaded photo -->
				<div id="fullscreenImageloader" class="hideMe valign-wrapper ">
 
					<div class="margin-middle" style="max-width:90%; max-height:90%;">
						<div class="content" id="fullscreenImageloaderContent"> <<<{fullScreenLoaderContent}>>> </div>
					</div>

				</div>
 
 			

			

		</div>
		
		

		
		<div class="row grey lighten-2 ">
			<div class="col m3 s12 right-align ">
					<span class="text-bold">PICTURE(S): </span>
			</div>

			<div class="col m9 s12" id="event_images_callback">
				<<<{event_images}>>>
			</div>
		</div>

	</div>

		
		


		






	
	<div class="border-bottom row grey lighten-2 padding-20 data-to-collect <<<{hideIfModify}>>>">

		<div class="row">
			<div class="col s12 left text-size-14 text-bold">
					<span class="red accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> VENUE </span>
			</div>
			
		</div>
		<div class="row ">	

			<div class="col m3 s12 right-align ">
				<div class="text-bold" style="padding-top:1rem">NAME: </div>
			</div>
			<div class="col m9 s12 input-field">	
				 <input type="text" name="event_date_add_venue_name" id="event_date_add_venue_name" class="autocomplete" autocomplete="off" value="<<<{event_date_add_venue_name}>>>">
				 <input type="hidden" name="event_date_add_venue_id" id="event_date_add_venue_id" value="<<<{event_date_add_venue_id}>>>" >
			</div>
		</div>
		<div class="venue_address_show_hide <<<{venue_address_show_hide}>>> " id="venue_address_show_hide">
			<div class="row">
				<div class="col m3 s12 right-align ">
					<div class="text-bold" style="padding-top:1rem">STREET: </div>
				</div>
				<div class="col m9 s12 input-field">	
					<input type="text" name="event_date_add_venue_street" id="event_date_add_venue_street">
				</div>
			</div>
			<!-- <div class="row">	
				<div class="col m3 s12 right-align ">
					<div class="text-bold" style="padding-top:1rem">POST CODE: </div>
				</div>
				<div class="col m9 s12 input-field">	
					<input type="text" name="event_date_add_venue_post_code" id="event_date_add_venue_post_code">
				</div>
			</div> -->
			<div class="row">	
				<div class="col m3 s12 right-align margin-top-20 ">
					<div class="text-bold" style="padding-top:1rem">CITY: </div>
				</div>
				<div class="col m9 s12 input-field">	
					 <input type="text" name="event_date_add_venue_city" id="event_date_add_venue_city">
				</div>
			</div>
			<div class="row">	
				<div class="col m3 s12 right-align ">
					<div class="text-bold" style="padding-top:1rem">COUNTY: </div>
				</div>
				<div class="col m9 s12 input-field">	
					 <input type="text" name="event_date_add_venue_county" id="event_date_add_venue_county">
				</div>
			</div>

			<!-- <div class="row">
				<div class="col s12 right-align">
					<input type="submit" class="btn callback_post validate-form" data-validate="1,0,1,1,1,1" name="event_date_add_venue_save" value="ADD VENUE">
				</div> 
			</div> -->
		</div>	


		
		
	</div>

	<div class="border-bottom row grey lighten-2 padding-20 data-to-collect <<<{hideIfModify}>>>" >

		<div class="row">

			<div id="dates" class="col s12 left text-size-14 text-bold"><span class="red accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> DATES </span></div>
		</div>

				


		<div class="row margin-0 background-color-whitegray margin-0 padding-0 ">
			

			<div class="col s6 center border-top border-left padding-0 center">
				<div class="text-bold padding-vw-1">Date</div>
			</div>
			<div class="col s5 center border-top border-left padding-0 center">
				<div class="text-bold padding-vw-1">Time</div>
			</div>
			<div class="col s1 border-top border-left border-right  padding-0 center">
				<div class="padding-vw-1">&nbsp;</div>
			</div>
		</div>

		<div class="row margin-0 background-color-whitegray" id="event_dates_callback">
					<<<{event_date_add_dates}>>>
		</div>


		<div class="hideMe row margin-0 data-to-collect  background-color-whitegray " id="addDateForm">
			<div class="row padding-0 margin-0">
				<div class="col s6 center border-top border-left height-46 padding-0 center">
					<div class="input-field padding-vw-1 widthPr-100">
						<<<{event_date_add_start_date}>>>
					</div>
				</div>
				<div class="col s5 center border-top border-left height-46 padding-0 center default-size-select">
					<div class="input-field padding-vw-1 center display-inline-block" >
						<<<{event_date_add_time}>>>
					</div>
				</div>
				<div class="col s1 border-top border-left border-right height-46 padding-vw-1 center">
				&nbsp;
					<!--div class="padding-vw-1"><i class="material-icons">cancel</i></div-->
				</div>

			</div>
			<div class="row padding-0 margin-0">


				<div class="multiple_dates hideMe col s6 center  border-left height-46 padding-0 center">
					<div class="input-field padding-vw-1 center display-inline-block">
						<<<{event_date_add_end_date}>>>
					</div>
				</div>
			
				<div class="multiple_dates hideMe col s5 center  border-left height-46 padding-0 center default-size-select">

					<div class="padding-vw-1 center display-inline-block" >
						<<<{event_date_add_week_days}>>>
					</div>		

				</div>

				<div class="multiple_dates hideMe col s1  border-left border-right height-46 padding-vw-1 center">&nbsp;<input type="text" name="multiple_events" class="hideMe" id="multiple_events"></div>
			</div>


<!-- multiple dates section -->
			<!--div class="row padding-0 margin-0">
				<div class="col s6 border-left border-top">
					<a class="left-align height-46 " name="multiple_events" id="multiple_events"><label for="multiple_events" class="align-right">Multiple dates</label></a>
				</div>
				<div class="col s5 border-left border-top">
					&nbsp;
				</div>
				<div class="col s1 border-left border-top border-right">
					&nbsp;
				</div>
			</div-->


		</div>


		<div class="row margin-0 background-color-whitegray border-left border-top border-right border-bottom">
			<div class="col s12 padding-10">
				

				<div class="input-field">
					<<<{save_date_button}>>>
				</div>
			</div>
				
		</div>
		

	</div>


	<div class="border-bottom row grey lighten-2 padding-20 data-to-collect <<<{hideIfModify}>>>" >

		<div class="row">

			<div id="dates" class="col s12 left text-size-14 text-bold"><span class="red accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> TICKET TYPES </span></div>
		</div>

				


		<div class="row margin-0 background-color-whitegray ">
			

			<div class="col s4  border-top border-left padding-0 center">
				<div class="text-bold padding-vw-1">Name</div>
			</div>
			<div class="col s3  border-top border-left padding-0 center">
				<div class="text-bold padding-vw-1">Quantity</div>
			</div>
			<div class="col s3  border-top border-left padding-0 center">
				<div class="text-bold padding-vw-1">Price</div>
			</div>
			<div class="col s2 border-top border-left border-right  padding-0 center">
				<div class="padding-vw-1">&nbsp;</div>
			</div>
		</div>

		<div id="event_ticket_callback">
					<<<{event_ticket}>>>
		</div>


		<div class="hideMe row margin-0 data-to-collect  background-color-whitegray " id="addTicketForm">

			<div class="input-field col s4  border-top border-left padding-0 center">
				<div class="input-field padding-vw-1 center display-inline-block">
					<input type="text" class="widthPr-80  browser-default" placeholder="Early Bird, Adult, Family etc" name="event_ticket_name" id="event_ticket_name">
				</div>
					
			</div>
		
			<div class="input-field col s3  border-top border-left padding-0 center">
				<div class="input-field padding-vw-1 center display-inline-block">
					<input type="text" class="widthPr-80  browser-default" placeholder="0" name="event_ticket_quantity" id="event_ticket_quantity">
				</div>
				
			</div>
		
			<div class="input-field col s3  border-top border-left padding-0 center">
				<div class="input-field padding-vw-1 center display-inline-block">
					<select class="padding-2 margin-0 width-60 white black-text left browser-default" name="event_ticket_currency" style="border:1px solid #b7b7b7; margin-right:3px; height:25px;">
						<option value="euro">EUR</option>

					</select>
					<<<{event_ticket_price}>>>
				</div>
				
			</div>
		
			<div class="input-field col s2  border-top border-left border-right padding-0 center">
				<div class="input-field padding-vw-1 center display-inline-block">
					&nbsp;
				</div>
			</div>
		
			

		</div>


		<div class="row margin-0 background-color-whitegray border-left border-top border-right border-bottom">
			<div class="col s12 padding-10">
				

				<div class="input-field">
					<<<{save_ticket_button}>>>
				</div>
			</div>
				
		</div>
		

	</div>







	<div class="border-bottom row grey lighten-2 padding-20 <<<{hideIfAddDate}>>>"  id="settings-details">

		<div class="row">
			<div id="tickets" class="col s12 left text-size-14 text-bold"><span class="red accent-4 white-text text-bold padding-10 border-radius-5 margin-left--30"> SETTINGS </span></div>
		</div>

		<div class="row">

			<div class="col s12 m3 right-align">
				<div class="text-bold" style="padding-top:1rem"></div>
			</div>


			<div class="col s12 m9">
				
				<div class="input-field col m4 s12 ">
					<<<{event_promoter}>>>
				</div>
				
				<div class="input-field col  s12">
					<<<{event_status}>>>
				</div>

				<div class="input-field col  s12 ">
					<<<{event_category}>>>
				</div>
			
				<div class="input-field col  s12 ">
					<<<{event_privacy}>>>
				</div>
			
				<div class="input-field col  s12 ">
					<<<{event_age_info}>>>
				</div>
			
				<div class="input-field col s12 ">
					<<<{event_age_info_value}>>>
				</div>	

			</div>
		</div>
	</div>


	<div class="row black padding-10-20">
		<div class="col s12">
			<<<{event_action_options}>>>
		</div>
	</div>

</form>


</div>




















