<div class="container row grey lighten-2">

	<div class="row">

	  	<table id="sortable" class="table2csv section-to-print responsive-table sortable bordered striped table-dashboard white margin-bottom-20">
	  		<caption class="left-align red-text text-darken-1 text-bold text-size-12 padding-5"> 
	  		<<<{event_report_table_title}>>>
	  		

	  		</caption>
	        <thead>

	          <tr> 
	              <th data-field="ticket_number">Ticket Number</th>
	              <th data-field="buyer_name">Buyer Name</th>
	              <th data-field="buyer_email">Buyer Email</th>
	              <th data-field="ticket_details">Ticket type</th>
	              <th data-field="status">Ticket Details</th>
	              <th data-field="status">Payment Status</th>
	              <th data-field="options" class="">Date</th>
	          </tr>
	        </thead>


			<tbody>
	  			<<<{event_report_table_content}>>>
	  		</tbody>
	  	</table>

	  	<div class="text-bold">  <br>
		<a href="#" class="printPrintable">Print</a> or 
	  	<a class="export2csv">Export to csv</a></div>

	  	

	</div>
</div>