<div id="wrapper">
	
	<div id="content" class="container">
	
	<div class="row col s6">	

		
		<form class="" method="post">
		<h5><i class="material-icons">bookmark_border</i> <<<{form1_name}>>> </h5>
			<div class="row">
				<div class="input-field col s12">
					<<<{page_name}>>>
				</div>

			</div>

			<div class="row">
				<div class="input-field col s12">
					<<<{page_save}>>>
				</div>
			</div>
		</form>
		
	</div>
	</div>








