<div id="content" class="container">
	
	<div class="row">	

		<h5><i class="material-icons">bookmark_border</i> <<<{form1_name}>>> </h5>
		<form class="col s12" method="post">



			<div class="row">
				<div class="input-field col s12">
					<<<{page_url}>>>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s9">
					<<<{page_title}>>>
				</div>
				<div class="input-field col s3">
					<<<{page_publish}>>>
				</div>
			</div>


			<div class="row">    
				<div class="input-field col s3">
					<<<{page_editor}>>>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<<<{page_content}>>>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<<<{page_name}>>>
				</div>
			</div>
			<div class="row">			
				<div class="input-field col s12">
				    <<<{page_template}>>>
				</div>

			</div>
			<div class="row">	
				<div class="input-field col s12">
					<<<{page_description}>>>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<<<{page_keywords}>>>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<<<{page_tags}>>>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<<<{page_save}>>>
				</div>
			</div>
		</form>
	

</div>









