<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title><<<{title}>>></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="Stylesheet" type="text/css" href="./backend/theme/css/style.css" />  
  <link href="./backend/theme/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./backend/theme/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      
<<<{header}>>>
</head>

<body>
	<div id="menu" class="black_background"> 
		<<<{menu}>>>
	</div>
	<div id="info">
		<<<{info}>>>
	</div>
<<<{body}>>>
	<div id="wrapper">
		
		<div id="content">
			<<<{content}>>>
		</div>
	</div>

	<div id="footer"></div>

	<<<{afterFooter}>>>

</body>
</html>

