<div class="row info text-center">
		<h3 class="text-danger"><<<{info}>>></h3>
</div>
<div class="row">
	<div class="container">


		<h3>Reprint your ticket</h3>


		<p>To reprint your e-ticket please enter in the email address and order number associated with your purchase.
Your order number can be found clearly on your original email receipt and on your PayPal payment receipt.</p>

		

		<form method="post" >

			<div class="form-group">
				<label>Order number* </label>
				<input type="text" placeholder="Order number" class="form-control" name="order_number" value="<<<{order_number}>>>"> 
				<span class="error-submit"> <<<{error_order_number}>>> </span>            
			</div>


			<div class="form-group">
				<label>Your e-mail address:*</label>
				<input type="text" placeholder="Your e-mail" class="form-control" name="email" value="<<<{email}>>>"> 
				<span class="error-submit"> <<<{error_email}>>> </span>
			</div>

			
			<div class="form-group">
				<label>Captcha*</label>
				<div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="<<<{reCaptchaSiteKey}>>>>"></div>

			</div>   
			<script>
				function recaptchaCallback() {
					$('#submitBtn').removeAttr('disabled');
				};
			</script>

			<button type="submit" id="submitBtn" class="btn btn-lg btn-info "  name="reprint_ticket" disabled >Submit</button>     

			<br>* = required
		</form> 

	</div>
</div>


